{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/deepavali.jpg">
            </div>
            <div class="bloghashes">
                <span>#Deepavali/दिपावली</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Why we should light diyas & burn cracker on Diwali?</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Winter marks a period filled with festivals of lights and Deepavali ushers in this season of lights. Deepavali is by far the most popular festival, celebrated all across India.
                    <br \>
                    <br \>
                    Deepavali can be broken down into 2 words Deepa which means lamp and Avali meaning a series, row or array. Deepavali as the name itself suggests, is the festival of lights or an array of lights.
                    <br \><br \>
                    Deepavali is celebrated in the month of Karthika, around October-November in the Lunar calendar and November - December in the Solar Calendar. This is when the full moon aligns along with the Krittika Nakshatra or Pleiades group of stars in the sky.
                    <br \><br \>
                    Ulka is a Sanskrit word which is defined as “a torch” and were catagorized into 5 types as, 
                    <br \>
                    Ashani - thunder bolt ,Dhishnya - ignescent balls ,Ulka - meteors ,Vidhyut - lightning and  
                    Tara - shooting stars.
                    These various types of fircrackers were burned during deepavali to light the way for our ancestors who came down to earth during Pitru Paksha.
                    <br \>
                    <br \>
                    Let's start with the beginning of the sequence, first comes Pitru Paksha also known as Shraddha were our departed ancestors comes down to earth, we feed them,we hononr them and ask for there
                    blessings to carry out our karmas. Now since they came to earth, they also have to go back to heavens.
                    <br \>
                    <br \>
                    This process or ritual is mentioned in plethora of scriptures as to why this is very important and needs to be done so our ancestors find there way home.
                    <br \>
                    <br \>Out of all the scriptures, karthika mahatmya is most read during karthika masa and there are many shlokas mentioned which 
                    refer to Ulka Danam or Sparkling sticks we burn during deepavali. 

                    <br \>
                    <br \>

                    <center><strong>तुला संस्थे सहस्त्राशौ प्रदोषे भूतदर्शयोः
                        <br \>
                        उल्का हस्ता नराः कुर्युः पितृणाम् मार्ग दर्शनम्।।</strong></center>
                    
                    <br \>
                    <br \>

                    Imagine you are trying to go back to your home and there is no light whatsoever in your way, you will also find it extremely difficult to find the way.
                    This exact situation is faced by our ancestors if we don't light the way through crackers. 
                    <br \>
                    <br \>
                    It is important that we burn fire crackers on deepavali. So it illuminates the skies and help our ancestors find their way back home.   

                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}