{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/eclipse.jpg">
            </div>
            <div class="bloghashes">
                <span>#Solar & Lunar Eclipse/[सूर्य एवम् चंद्र ग्रहण]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">What is the spiritual significance behind Lunar and Solar eclipse?</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Chandra Grahan (Lunar Eclipse) and Surya Grahana (Solar Eclipse) are widely mentioned in the Sacred lore of Sanatana Dharma. 
                    <br \>    <br \> 
                    A lunar eclipse occurs when the Earth passes between the Sun and Moon, casting a shadow on the Moon. 
                    Whereas,a solar eclipse occurs when the Moon passes between the Earth and Sun, casting a much smaller shadow on the Earth surface.
                    <br \>
                    <br \>
                    In a year, at least 2 solar eclipses happens and never more than 5.There are maximum of 3 lunar eclipses which can happen in a year ,this total to 7 eclipses in one year.
                    In last 5000 years, we had 11,898 solar eclipses and 12,186 lunar eclipses.
                    <br \>
                    <br \>
                    Depending on the distance of the moon from the earth, different types of solar eclipses can be observed.
                    There is a partial solar eclipse, a annular solar eclipse and an total solar eclipse.
                    <br \>
                    <br \>
                    Partial: When the moon does not align completely with the sun and so only a portion of the sunlight is blocked from reaching the earth.
                    <br \>  
                    Annular: When the moon covers the sun but the sun can be seen around the edges of the moon as a periphery or a ring.
                    <br \>
                    Total: When the sun is completely covered by the moon. The sky becomes so dark that it appears to be night.
                    Only a small area on the earth can witness it.
                    <br \><br \>
                    Solar eclipses happen at Dark Moon, when both Sun and Moon are conjunct in the same zodiac sign or rashi.
                    Dark moons enhances that signs energies on both a conscious and sub-conscious level. 
                    <br \><br \>
                    Lunar Eclipses happen at the Full moon, when the sun and moon are opposed in zodiac signs on opposite sides of the wheel.
                    <br \>
                    Full moons balance opposing energies,revealing both sides of a polarity lesson: one on a conscious level and the other on the sub-conscious level.

                    <br \><br \>
                    Sun is God plus Conscious Awareness, Moon is Goddess plus Sub-conscious awareness, and Earth is Culmination of Gods and Goddess.
                    Sun and moon collectively affect all our spiritual energy centres, the 7 chakras.
                    The light of the sun and the moon is also originally emanating from the brahma-jyotia [a circular ring of light around our head representing our aura], which is the impersonal effulgence of the Divine.
                    Whereas, pranava or sound of Om is transcendental sound addressed to the Supreme.

                    <br \><br \>
                    There is an interesting story regarding the occurrence of Eclipses which happened during the Samdura Manthan [churning of ocean] depicted in the Puranas. 
                    The Amrit [elixir] that was obtained from churning the ocean was stolen by Ausras [Demons],
                    <br \><br \>
                    Lord Vishnu took the form of Mohini to swoon the asuras and win back the Amrit.She enchanted the asuras who handed her the Amrita and began distributing it to devas.
                    <br \><br \>
                    Seeing this,Rahu,an Asura, who found out that they were tricked took the form of a Deva and sat in the line between Chandra [Moon God] and Surya [Sun God].
                    <br \><br \>
                    When Mohini approached Rahu, Chandra and Surya realized that Rahu was not one among them and soon identified him as an Asura.
                    Lord Vishnu as mohini got angry and severed the head of Rahu which flew into the sky.
                    <br \><br \>
                    Rahu usually depicted in the form of a snake head continued to live and decided to avenge Surya and Chandra,he periodically engages in a war with Surya and Chandra.
                    This war is the dance of the eclipses where Chandra Grahan [Lunar eclipse] and Surya Grahan [Solar eclipse] takes place when Rahu consumes up Moon and Sun.
                    <br \><br \>
                    Our ancients have restricted watching solar eclipse as a precaution,even Temples are closed at the time of eclipse and are opened by chanting of Vedic mantras. 
                    This ritual is to ward off any negative energy that gets activated during the eclipse. 
                    The idols of Gods and Goddesses are not touched during the eclipse period, 
                    the doors of the temples are closed so as to protect the deities from all the malefic effects of any planetary yoga occurring during the eclipse.

                    <br \><br \>
                    You should not consume any food between the eclipse and should devote that energy to spiritual practices like Namajapa, pithru tarpana, even dana[philantrophy] is considered very auspicious.
                    
                    <br \><br \>
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}