{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/aryabhatta.jpg">
            </div>
            <div class="bloghashes">
                <span>#Discipline/[विषय्]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Father of Various Educational Disciplines in Bharat.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Rishi's and Sages in Bharat had long ago mastered many educational discipline we have barely scratched the surface today.
                    In Bharat, practically all disciplines like science, mathematics, philosophy, language, economics, architecture were given great importance in society.
                    Study and practical application of these disciplines were considered necessary for growth of society and human intelligence. 
                    <br \>
                    <br \>
                    Many rishis and sages in bharat are credited with 'Being a Father of the discipline', We often credit Aryabhatta with founding Zero without which
                    no technological progress is possible but there are many rishis who have contributed in other disciplines which didn't get much light.
                    <br \>
                    <br \>
                    Let us understand, honor and pray to these great Sages for their blessings who have contributed in the civilizational legacy of Bharat.
                    <br /> 
                    <br /> 
                    1. Father of Advaitha: Shankara.
                    Contribution to Literature: commentaries on Bhashyas, panchadasi etc.
                    <br /> 
                    <br /> 
                    2. Father of Aero Dynamics: Mayasura. 
                    Contributions to Literature: Vastu Darpana[Vastu is also studied and referred for town planning, house planning]
                    <br /> 
                    <br /> 
                    3. Father of Alchemy: Nagarjuna. 
                    Contributions to Literature: Pragnaparamita Sutras.
                    <br /> 
                    <br /> 
                    4. Father of Anatomy, Yoga: Patanjali . 
                    Contributions to Literature: Yoga Sutras[Profound Literature with 196 Sutras], Vyakarana.
                    <br /> 
                    <br /> 
                    5. Father of Architecture : Vishwakarma . 
                    Contributions to Literature: Stapatya Veda. Lord Vishwakarma built many exquisite cities like Dwarka, cities of gods like Indra and Asuras like Ravan.
                    <br /> 
                    <br /> 
                    6. Father of Astrology: Varahamihira . 
                    Contributions to Literature: Panchasiddhantika, Bruhat Hora Shastras.
                    <br /> 
                    <br /> 
                    7. Father of Astronomy: Aryabhatta. 
                    Contributions to Literature: Aryabhattiyam. [Credited with finding Zero]
                    <br /> 
                    <br /> 
                    8. Father of Atomic theory : Rishi Kanada . 
                    Contributions to Literature: Kanada sutras. Credited with finding the samllest atomic particle 'Atom' called 'Anu'/[अनु]
                    <br /> 
                    <br /> 
                    8. Father of Economics : Chanakya. 
                    Contributions to Literature: Arthashastra. Arthashastra is also reffered as UpaVeda. Contains known how of administration, economics, politics.
                    <br /> 
                    <br />
                    9. Father of Grammar: Panini.
                    Contributions to Literature: Asthadhyayi, Vyakarana Deepika.
                    <br /> 
                    <br />
                    10. Father of Ganita: Bhaskara II
                    Contributions to Literature: Lilavati.
                    <br /> 
                    <br />
                    11. Father of literature [Kavya]]: Sage VedaVyasa[Krishna Dwaipayana]
                    Contributions to Literature: Bhagvatam; Rig,Yajur,Sama,Atharva Veda.
                    <br />
                    <br />
                    12. Father of Medicine: Maa Dhanvantri.
                    Contributions to Literature: Ayurvedam [UpaVeda to RigVeda].
                    <br />
                    <br />
                    13. Father of Natyashastra : Bharatamuni.
                    Contributions to Literature: NatyaShastra.
                    <br />
                    <br />
                    14. Father of Playwriting : Kalidasa.
                    Contributions to Literature: Meghadhootam,Kumara Sambhava etc.
                    <br />
                    <br />
                    15. Father of Politics: Chanakya.
                    Contributions to Literature:  Arthashashtra, Nitishashtra[well Known as ChanakyaNiti] etc.
                    <br />
                    <br />
                    16. Father of Sexual Anatomy: Vatsyana.
                    Contributions to Literature:  Kamashastras.
                    <br />
                    <br />
                    17. Fathers of Surgery : Susruta, Charaka
                    Contributions to Literature:  Susrutasamhita[Founder of Plastic Surgery], Charakasamhita
                    <br />
                    <br />
                    18.  Father of Story writing: Vishnu Sharma Pranith.
                    Contributions to Literature:Panchatantra.
                    <br />
                    <br />
                    19. Father of Warfare and Weaponry: Parashurama
                    Contributions to Literature: KalariPayattu. [Lord Parshuram is the 6th avatar of lord vishnu. Parshu means 'Axe' which literally means "Rama with an Axe"].
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}