{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/gurukul.jpg">
            </div>
            <div class="bloghashes">
                <span>#Gurukul /[गुरुकुल]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Why revival of Gurukul Education System is necessary for Bharat</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Gurukul can be bifurcated into two words [Guru and Kul-Family], so gurukul literally means Guru's Family.All student admitted in gurukul were considered part of guru's family and were subjected to holistic learning.
                    Before the darkeness of british colonialism clouded indian minds, hindus studied in a different system called the Gurukul system. 
                     <br \>
                     <br />
                    In this Vedic system, the guru who was living in the ashram admitted students and they lived in the Ashram.
                    Most Gurukuls taught all 4 Vedas, Upanishads, and ancient Philosophy,technical disciplines like engineering , mathematics ,science[STEM fields] were also taught.Lesson on Kundalini Awakening, Awareness about nature and society, 
                    ,passing on of knowledge and traditions through generations, Self-control and Self-discipline in life were also taught. 
                     <br \>
                    <br />    
                    Each student were subjected to some common topics like Vedas, Upanishads and some very specific discipline which was choosen after healthy debate between guru and disciple.
                    <br/>
                    <br />
                    Bharat had more than 7,00,000 gurukuls and more than 100 disciplines were taught.
                    <br /> Let us enlighten ourselves with this different way of education system.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;"></span>
                    <br \>
                    A gurukul was a teacher's or acharya's home and a learning center where students lived until their education was completed. 
                    They lived close to each other and this relationship between Guru and Shisha was so sacred that no fee was charged from the disciples.
                    <br \> 
                    However, the student had to offer Gurudakshina as homage for acharya's teaching and their upbringing. This was a sign of respect for the acharya.
                    It was mainly in the form of gold,lands,cows,produce or special tasks that students had to do for their acharyas.
                    <br \> 
                    <br \>
                    The Gurukul system has been very valuable for the students. 
                    Modern-day education is different from the Gurukul education system especially because it focused on quality and holistic education:
                    Modern education is focused more on serving some particular needs rather than human self development. Gurukul education differed from in three ways:
                    <br \>
                    <br \>
                    1. Student-teacher relationship: Gurukul creates a acharya and shishya relationship which creates a secure learning environment. This way shishya have trust in their acharyas for their learning.
                    <br \>
                    <br \>
                    2. Applied Knowledge: Gurukul focused on applied knowledge and offered an education that prepares a shishya for all facets of life. 
                    Today, it is being done by combining academics, extracurricular activities along with mindful and spiritual awareness lessons in Yoga and Meditation.
                    <br \>
                    <br \>
                    3. Value-based Learning: Gurukul offered value-based learning where learning happens as per the uniqueness and talents of the child.These talents were identified by the acharyas as part of continous evaluations and
                    this offers healthy competition, balance in subject choosen  and reduces stress levels amongst shishyas.
                    <br \>
                    <br \>
                    The acharyas understood that a human being can learn in one of 3 ways, first is Self Study, second is group study and third is through his teachings.
                    So they included this realization in their way of imparting knowledge through a system which prepared a shishya physically, mentally, emotionally and spiritually for the world.

                </span>    

            </div>
        </div> 
    </div>
</body>
{%endblock%}