{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/koshas.jpg">
            </div>
            <div class="bloghashes">
                <span>#Dhyana/[ध्यान्] #Koshas/[कोषः]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How strength of 5 koshas lead you to transcend Samsara.a</h3>
            </div>
            <div class="blogconthere">
                <span>
                    The Sanskrit Term [कोष] KOSHAs means SHEATH. Philosophy terms Koshas as ATMAN or SELF. 
                    The 5 koshas in the body are similar to layers of an onion.
                    <br />
                    <br />
                    As you move from the outer layers to the inner layers during dhyana, you get deeper into the core of human self being. 
                    You eventually discover that your body is made up of subtle degrees of energies: 
                    from the physical body, to the energetic body, to the mental body, to the wisdom body, and finally, to the bliss body.
                    <br \>
                    <br />
                    The five sheaths can be summarised with the term Panchakosha. 
                    The 5 koshas are Ananamaya kosha[अन्नमय कोश], Pranamaya kosha[प्राणमय कोश], Manomaya kosha[मनोमय कोश], Vijnanamaya kosha [विज्ञानमय कोश] 
                    and Anandamaya kosha[आनंदमय कोश ].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Ananamaya kosha[अन्नमय कोश]</span>
                    <br \>
                    <br \>
                    The literal meaning of 'Anana(अन्न)' is 'food and juice of Earth'. All the foods we eat and drink like Water, Grains, Fruits, Vegetable, Seeds,Herbs come from the earth.
                    Herbs, fruits and vegetables are grown. Whereas, Milk, Ghee, Lard are produced from the animals who eat this grass. 
                    All of these are called 'Anna' from which our bodies generate blood, water, semen and energy from which the human body is formed. It is only  these foods and liquids
                    which strengthen our human body.In the end, this same food is excreted out of human body through excreta, urine, sweat and gets mixed into earth through decomposition or incineration.
                    <br \>
                    <br \>
                    Agni of Food Sheath is (Jathar-agni) which circulates in the abdomen where our digestion takes place. The fire breaks down the food into 5 elements which later fuels our body.
                    The act of eating, taking the food into the mouth and the stomach, is kapha (water) predominant, requiring the liquefaction of the food. 
                    The action of digestion, breaking down and absorbing the food in the small intestine is the field of pitta (fire), with which agni is closely related. 
                    The action of elimination through the large intestine is in the field of vata (air), where the waste gases are held and released.
                    <br \>
                    <br \>
                    The physical agni is closely linked with speech, which is the dominant action of the mouth. In fact, the physical body is a tube built around the digestive tract whose main opening is
                    the mouth. Right eating and right speaking are complementary processes of the food sheath. One should take care not only what goes into the mouth but what comes out of it.
                    <br \>
                    <br \>
                    Now we can understand that a cycle is formed from Land Produce to Human,Animal eatables to waste which goes back to earth and the cycle continues in the form of food, 
                    Hence this level of Consciousness is termed as Annamaya Kosha. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Pranamaya kosha[प्राणमय कोश]</span>
                    <br \>
                    <br \>
                    The literal meaning of 'Prana(प्राण)' is air. The air we breath is responsible for many function like oxygenation of blood, cyclical flow of energy around Nadis and around Chakras.
                    The qualtiy of air we breath has a direct influence on our physical, mental and spiritual health. The deeper we breath in, the better flow of air is observed and evaluated.
                    <br \>
                    There are 10 types of prana which exists in the human body. 5 of those Prana are called MahaPrana and rest 5 are called Laghuprana.
                    5 Mahaprana are Prana, Apana, Samana, Udana and Vyana. Whereas, 5 Laghuprana are Naga, Kurma,Krikala, Devadutt and Dhananjaya.
                    <br \>
                    <br \>
                    Mahapranas are often responsible for the Ojas of the Human Body whereas Laghuprana are often responsible for the Retas of the Human Body.
                    Both the pranas often assist each other in there responsibilities and function just like hands,feets and eyes..
                    The agni of the pranic sheath is pranagni, the agni of prana.
                    It works in the lungs and heart and connects with the jatharagni in the solar plexus below, which is also the pranic center. 
                    <br \>
                    Prana-agni is responsible for converting oxygen from the external air into an internal force of vitality. Pranagni connects with the blood, serving both to oxygenate it and to give 
                    its red color. Through pranagni we digest air or prana, which gets transformed into energy. The energy of the breath is more subtle and immediate than that of food.
                    The action of inhalation, like that of eating, is in the field of kapha and that of exhalation, like elimination, in the field of vata. 
                    <br \>
                    <br \>
                    Pranagni is energized through retention of the breath, which is connected with pitta. Pranagni is also connected with speech, particularly speech as energized with breath.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Manomaya kosha[मनोमय कोश]</span>
                    <br \>
                    <br \>
                    The literal meaning of 'Mano(मनो)' is thought.The mind comprises of 3 parts, they are Mana[मन्], Intelligence[बुध्दि] and Chitta[चित्त].
                    The primary tasks of Mana is to think, of intelligence is to Make Decisions and of Chitta is storing the information we acquire.
                    <br \>
                    <br \>
                    The agni of the outer mind is the fire of perception known as Manasika-agni. This allows us to digest sensory impressions and thoughts.
                    Among the sense organs, the mental fire is most connected with the eyes which corresponds to fire among the senses.
                    <br \><br \>
                    Among the motor organs it is most connected with speech on the mental level the speech within the mind, our internal voice. The mental agni
                    digests impressions and turns them into our inner landscape, the field of our imagination
                    <br \>
                    <br \>
                    Practice of Pratyahara includes fasting from thought which nowadays is talked around as 'Digital Detox' and holding of Uniform thoughts of gods.
                    Visualising control of thought aids in the practice and sensory tools such as Color, Sounds, Music can also help in the practice.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Vijnanamaya kosha[विज्ञानमय कोश]</span>
                    <br \>
                    <br \> 
                    The literal meaning of 'Vijnana(विज्ञान)' is science but as science leads to Wisdom, we termthis kosha as Wisdom Sheath. 
                    It is responsible for inner growth, self development which includes evolution of our moral, ethics and values.
                    <br \>
                    <br \>
                    The agni of Vijnanamaya Kosha is the fire of discrimination known as Bauddhika Agni through which we can distinguish truth from lie, good from bad and right from wrong.
                    The fire of intelligence digests our thoughts and impressions, extracting their meaning, quality and content so we can understand their underlying idea. 
                    <br \>
                    It forms our basic values and beliels which builds up the body of dharma which influences our field of insight and understanding.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Anandamaya kosha[आनंदमय कोश]</span>
                    <br \>
                    <br \> 
                    The literal meaning of 'Ananda(आनंद)' is bliss because of which we call it the bliss sheath.It is thought of as part of being
                    responsible for Unconditional Love, Oneness and Complete unity with all living beings.
                    <br \>
                    <br \>
                    The agni of this sheath is the fire of love known as Ananda-agni which in the undeveloped yogi is the fire of desire.
                    Desire can be transformed into the fire of divine love and bliss.
                    <br \>This depends upon feeding our fire of bliss not with sensory enjoyments but with devotion to the divine.
                    <br \>
                    <br \>
                    Collectively, all this koshas are called Pancha-Kosha and upon realising the strengths of koshas, we rasie our consciousness and finnaly connect with "The Universal Oneness"
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}