{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/kunda.jpg">
            </div>
            <div class="bloghashes">
                <span>#Chakras/[चक्र]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How flow of energy through chakras determines human health.</h3>
            </div>
            <div class="blogconthere">
                <span>Kundalini[कुंडलिनी] literally means "coiled snake" and references the ancient belief that each person carries "divine" energy at the base of the spine. 
                    This mediation practice seeks to awaken, release, and harness this energy for the yogi.
                    <br \>
                    <br \>
                    Kundalini meditation is not a set of beliefs or religion. Instead, it's a practice for evoking energy inside yourself and developing mind-body awareness.
                    
                    <br \>
                    <br \>
                    Energy moves from Mooladhar Chakra[स्वयं भूलिँग] through 6 chakras and 3 nadis in cyclical upward movement in the human body and reaches the agya Chakra.
                    When yogi realises that the energy has reached agya Chakra, it's observed that the 1st half of the journey has finished and
                    Sadhna[practice] for second leg that is journey from Agya to Sahasara begins. Upon realising all 7 Chakras, enligtenment is achieved.
                    <br \>
                    <br \>
                    Kundalini is a primordial element which is studied and understood in details by yogis on the path of Kundalini Yoga.
                    Here the yogis tries to understand how energies move in the human body, how and where it is stored, how it is raised and how all block are eliminated by chanting mantras.
                    <br \>
                    <br \>
                    Let's understand each and every chakra in detail.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Chakras</span>
                    <br \>Chakras are pools of energies in the human body. Only from here the energies are raised through nadis by yogi in deep state of meditations.
                    <br \>
                    There are over 114 chakras in human body with every body part having some chakras. Hands and Feets have 7 chakras each, our legs and hands also have chakras.
                    All chakras have petals with each chakras having different number, each petal corresponds to a letter in Devanagari script and individual chanting of these letter produces
                    vibrations which heals the chakra.
                    <br \>
                    It rests on 'Airavata'[Thousand tusked elephant] which is the vehicle of Lord Indra. 
                    Each chakra has a beeja mantra which is the principal vibration of the entire chakra, One should always meditate on the beeja mantra in presence of a guru.
                   
                    <br \>
                    <br \>
                    For this discussion, we'll consider the 7 most important chakras in the human spine, starting from the root of the spine to tip of the skull.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Muladhara Chakra</span>
                    <br \>
                    Muladhara Chakra or Root Chakra is the feet of the Kundalini where "Mul" means Source and "Adhara" means support. 
                    So muladhara literally means "Source Support" and it represents the Earth Element which signifies "Grounding".
                    <br \>
                    <br \>
                    Muladhara chakra is red in colour and has 4 petals with sound [वं,शं,षं,सं] respectively.
                    The sound "lam" [लं] is the beeja mantra. Muladhara chakra is responsible for Stability, Security and Stamina element of the human life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Svadhistana Chakra</span>
                    <br \>
                    Svadhistana literally means "Well Established" and represents Water Element which signifies "Flow". 
                    <br \>
                    <br \>
                    Svadhistana chakra is orange in color and has 6 petals with sounds [बं,भं,मं,यं,रं,लं]. The sound "Vam" [वं] is the beeja mantra.
                    Svadhistana chakra is responsible for Pleasure,Sexuality and Longevity element of the human life.    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Manipura Chakra</span>
                    <br \>
                    Manipura Chakra signifies Ambition, Hunger, Nourishment and represents Fire Element. 
                    <br \>
                    <br \>
                    Manipura Chakra is Yellow in color and has 10 petals with sounds [डं,ढं,णं,तं,थं,दं,धं,नं,पं,फं] respectively. The sound "Ram" [रं] is the beeja mantra.
                    Manipura chakra is responsible for Power,Hunger and Nourishment element of the human life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Anahata Chakra</span>
                    <br \>
                    Anahata means "Unstruck Sound" , signifies Love and Compassion and represents Air Element.
                    <br \>
                    <br \>
                    Anahata Chakra is Green in color and has 12 petals with sounds [कं,खं,गं,घं,ङं,चं,छं,जं,झं,ञं,टं,ठं] respectively. The sound "Yam" [यं] is the beeja mantra.
                    Anahata chakra is responsible for Kindness,Love and Compassion element of the human life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Vissudhi Chakra</span>
                    <br \>
                    Visshudhi literally means Purifier and represents the Akasha Element.
                    <br \>
                    <br \>
                    Visshudhi Chakra is Blue in color and has 16 petals with sounds [अं,आं,इं,ईं,उं,ऊं,ऋं,ॠं,ऌं,ॡं,एं,ऐं,ओं,औं,अः,अँ] respectively. The sound "Ham" [हं] is the beeja mantra.
                    Visshudhi chakra is responsible for Space,Communication and Purity element of the human life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Agya Chakra</span>
                    <br \>
                    Ajna literally means a command and represents the Manas[Mind] element.Agya chakra is most famously called Third Eye Chakra in the west.
                    <br \>
                    <br \>
                    Ajna Chakra is Indigo in color and has 2 petals with sounds [क्षं,हं] respectively. The sound  [ॐ] is the beeja mantra.
                    Ajna chakra is responsible for Sight and Perception element of the human life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Sahasara Chakra</span>
                    <br \>
                    Sahasara Chakra is the most important chakra in the human body. Sahasara chakra is not activated and meditated upon until the yogi has realised
                    the energies of lower 6 chakra. Only when the energies have reached agya, door for Sahasara chakra is opened and sadhana begins.

                    It is also called 1000 petal lotus and is Violet in colour. It is responsible for Deep State of Samadhi of the yogi.
                    <br \>
                    <br \>
                    <br \>
                    After realising your energies at Sahasara Chakra, enligtenment is achieved by a yogi. This way a yogi have gained access to exercise the energies all around the human body.
                    The energies can be used for spiritual upliftment, strengthning human body and mind as well as to share with other yogis for assisting in their spiritual journeys.
                    <br \>
                    If you observe carefully, the colors of chakras follow the pattern of a rainbow that is Violet-Red and also aligns with the frequencies of 7 musical notes.
                    
                    
                    <br \>
                    <br \>
                    <br \>
                </span>
            </div>
        </div> 
    </div>
</body>
{%endblock%}