{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/lokas.jpg">
            </div>
            <div class="bloghashes">
                <span>#Dhyana/[ध्यान्] #Lokas/[लोका]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How 14 lokas and 7 pceans constitute the hindu cosmology.</h3>
            </div>
            <div class="blogconthere">
                <span>In the Hindu faith, there are 14 lokas or levels of Consciousness in which the entire Brahman is divided, 
                    similar concept is used in the human body as well for easier understanding.
                    <br \>
                    These 14 lokas are divided into 2 group of 7 each where 7 plane are of Higher consciousness which align with Higher or positive human virtues.
                    The rest 7 are lower lokas which align with Lower or Negative human virtues.
                    <br \>
                    <br \>
                    The 14 lokas points to 14 different location in the human body according to the virtues it signifies.
                    Dividing the human body into 3 portion as head and above, head to base of spine, base of spine to feets, we can locate 14 lokas and 7 chakras. 
                    <br \>
                    <br \>
                    From head and above we have the 7 higher lokas starting from Bhuloka to Satyaloka.
                    In the torso region, we have the 7 chakras. And, from base of spine or below muladhara Chakra to feets we have 7 lower lokas.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Higher Lokas\[उर्थव् लोका]</span>
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">1. Satya Loka/</span>
                    <br \>
                    It is also called Brahma Loka as Lord Brahma resides with Maa Saraswati. 
                    Tapasvins who have performed penance for long period make their place in Brahma Loka as a boon from the Lord.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">2. Tapa Loka</span>
                    <br \>
                    4 Holy Kumars Reside here, they are Sanat, Sanak, Sanatana, Sanandan. 
                    They perform Tapasya here so it's named Tapa Loka.
                    They are Avatars of Lord Vishnu and are 5 years old.They are known for there pure intellect and can roam around any Loka. 
                    <br \>
                    It is Located 12 Cr[120,000,000] Yojan below Brahma Loka where 1 Yojan[योजन्] is 8 Miles[13 Km].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">3. Janaka Loka</span>
                    <br \>
                    Located 8 Cr yojan below Tapa loka, Viraj Dev reside here and performs penance. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">4. Mahar Loka</span>
                    <br \>
                    It is located 2 Cr Yojan below Janak Loka. Place where Rishi and Sages reside and perform penance, they can go to bhu loka and satya loka upon their need.
                    They have a life Span of 1 day of Brahma which is 432 crore years [4.32 Billion Years].   
                    <br \>    
                    <br \>
                    <span style="font-weight:bold;">5. Swarga Loka</span>
                    <br \>
                    It is located 80000 Yojana below mahar loka. Here 33 vedic koti devatas reside and fight rakshasas who create havoc on earth and lokas to maintain peace.
                    King of Devatas, Indra deva live with gandharvas,apsaras,marus,vasav, devadutt and various other energy figures in Capital Amravati. 
                    <br \>
                    Souls living here possess long life, flying vehicles, wish fulfilling Tree[Kalpa-vriksha], wish fulfilling Cows[Kama-dhenu] and are diseases free.
                    Airavat[Indra Dev's Vehicle] and flying horse[Uchareshva] which were obtained during Samudra Manthan also reside there.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">6. Bhuvar Loka</span>
                    <br \>
                    It has 8 more lokas located between bhuvar loka and earth.
                    <br \>
                    They are: 
                    <br \>
                    [1] Dhruva Loka which lies in our sky and is 1 cr yojan below mahar loka.
                    <br \>
                    [2] Saptarishi loka whic is 1 lakh yojan below dhruva loka.They are living there from time immemorial and give instructions to human beings.
                    <br \>
                    [3] Nakshatra Loka
                    <br \> 
                    [4] Shoora mandal.
                    <br \>
                    [5] Surya Loka which is 1 lakh[100,000] yojan from earth.
                    <br \>
                    [6] Chandra Loka is 30000 Yojan away from earth.
                    <br \>
                    [7] Rahu- Ketu Loka which is between earth and chandra loka.
                    <br \>
                    [8] Antariksha Loka which is just few yojans away from earth surface till chandra loka where Yakshasa, Pisachas, Rakshasas live.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">7. Bhu Loka</span>
                    <br \>
                    Here human beings who are dwelling in cycle of Virtues and Sins reside.Our work is monitored by gods and devatas and recorded by Chitragupta.
                    It is also called Nashwar Loka, Mrityu Loka, Madhya Loka and Paap- Punya Loka. We face the inevitable death as we are governed by time.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Oceans</span>
                    <br \>
                    According to Hindu Cosmology, bhu-loka has 7 oceans around it in concentric circle, the 7 oceans are of saltwater[लवण],sugarcane juice[इक्क्षु],wine[सुर], ghee[सर्पि],milk[दुग्ध्],curd[दधि] and Freshwater[सुधोदक्]. 
                    The axis which passes through the center is Mount Meru which is also the axis mundi of the entire creation.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Lower Lokas\[आधो लोका]</span>
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">8. Atala Loka</span>
                    <br \>
                    Bala demon lives here. He is son of Maya and has devised 96 types of maya.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">9. Vitala Loka</span>
                    <br \>
                    Hatkeshwar Avatar of Bhagwan Shiva lives here.This is the place where River Hata flows and carries lots gold in it.
                    People of this loka are often found wearing lots of gold.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">10. Sutala Loka</span>
                    <br \>
                    King Prahalad is a Great devotee of Bhagwan vishnu and his grandson,King Bali lives here.
                    King Bali is considered as the most virtuous demon of all lower lokas. It was designed by Bhagwan Vishwakarma.
                    <br \>
                    <br \>
                    Here Vamana avatar of vishnu asked bali for 3 pada or [3 Steps] of land and in just 2 steps he traversed 3 lokas.
                    He took his 3rd step was on the head of King Bali.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">11. Talataala</span>
                    <br \>
                    Asura Maya resides here who is well versed and extremely knowledegable in Magic.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">12. Mahataala</span>
                    <br \>
                    Here many types of snakes Khuk, Takshak, Sushil, Kaliya etc live.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">13. Rasataala</span>
                    <br \>
                    Here Powerful Demons and Asuras reside who are staunch enemies of gods.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">14. Paatala</span>
                    <br \>
                    Here big snamkes like Sanya, Kulki, Mahasanya, Sohi, Dhananjaya, Dhritarastra, Devdutt reside.
                    Among them Vasuki who is King of snakes resides in Capital Bhogavati.
                    <br \>
                    <br \>
                    We have too more lokas which are not considered in above 14, they are:
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Pitr Loka and Naraka Loka</span>
                    <br \>
                    Here souls who departed live,they visit earth during Pitru Paksha.
                    <br \>
                    Naraka Loka is where people who have done henious crime are sent to suffer punishment.
                    The punishment is decided by Surya Putra Yamaraj who takes help of Chitragupta [The one who keeps record of our karma]to determines the severity of punishment.
                    <br \>
                    <br \>
                </span>
            </div>
        </div> 
    </div>
</body>
{%endblock%}