{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/moksha_chaupar.jfif">
            </div>
            <div class="bloghashes">
                <span>#Moksha Patam/[मोक्ष पतम्]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Moksha Patam: More than just snakes and ladders.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    <p>This 13th-century CE game was designed by Sant Jnaneshwar as a children's game called Moksha Patam [Moksha-Liberation]. Later it became popular by the
                        name of Gyan Chaupar. The other names of this game are: Muktipada or Paramapada.
                        <br \>
                        <br \>
                        Historic version of this game had root in morality lessons, where a player's progression up and down the board represented a life journey complicated by virtues [ladders] and vices [Snakes]. 
                        It was also associated with traditional Hindu philosophy contrasting karma[कर्म] and kama[काम्], or Destiny[भाग्य] and Desire[इच्छा].
                        The ladders represented virtues such as generosity, humility and faith, while the snakes represented vices such as lust, anger,theft and murder.
                        The squares representing numbers are symbolic of journey of a human life. Each square represents a positive or negative choice and its following consequence.
                        <br \>
                        <br \>
                        The aim of the game is to exit the Vaikuntha [Cosmic consciousness] state, enter this game of life, move through the various planes of consciousness or Lokas, and finally
                        make one's way back to Vaikuntha[Place where lord vishnu resides]. Despite having an aim, this game does not have winners or losers which signifies it more as a journey than a game.
                        <br \>
                        <br \>
                       Let us understand the significance, meaning and spiritual message which this interesting game holds.
                        <br \>
                        <br \>
                    </p>
                
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}