{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/nadis.jpg">
            </div>
            <div class="bloghashes">
                <span>#nadis</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How to Channelise our divine self energies? Nadis.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    While meditating, we have often felt some tingling sensations around different places on Spinal column or pelvis area.
                    Some western meditators confuse this with enlightenment, which is wrong. A yogi doesn't achieve enlightenment until
                    his/her Kundalini Energy or Serpent energy reaches Sahasrara Chakra. But, this is just the tip of the iceberg and the
                    actual human sadhana begins.
                    <br \>
                    <br \>
                    Have you ever questioned how these chakras and petals work?How are chakras able to hold pools of energy in them which
                    can be channelised?
                    <br \>
                    <br \>
                    The answer is Nadis,there are over 72000 Nadis in the human body but all nadis connect to 3 primary nadis in the human Spine. There are 14 major nadis 
                    around the spinal coloumn, 4 in Ida side, 4 in pingala side and 6 in sushumna nadi. Ida Nadi is in the left side or Feminine Side of Human body, Pingala Nadi is in
                    the right side or the Masculine Side of Human Body, Meanwhile, Sushumana Nadi is in the Central column which goes along
                    the spine to the Sahasrara Chakra. There are many more nadis in the human body which is discussed in detail.
                    <br \>
                    <br \>
                    The number of nadis which branch out from chakras differ in number. From the muladhara,56 nadis branch out. From the Svadhistana,62 nadis branch out. From the nabhi, 52 nadis branch out.
                    From the Anahata, 54 nadis branch out. From the vissudhi,72 nadis branch out and from Agya Chakra,64 nadis branch out.
                    The sum of all nadis is 360 which form a 360 degree sphere of influence around us. It signifies that when we have proper transition of energies, enlightenment is achieved.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Ida-Nadi/[इडा नाडी]</span>
                    <br \>
                    <br \>
                    1. Ida: Known as "Inspirer" as it carries emotion of inspiration and visionary speech.It starts from muladhara chakra and branches out from the pineal eye, goes to the left nostril, 
                    which is its orifice, and supplies prana to it, it also governs the left nasal passage. 
                    It causes the entire left body to be nourished through prana. 
                    <br \>
                    <br \>
                    2. Hastijihva: Known as "Elephant's Tongue" [Hasti-Elephant, Jihva-Tongue] . It runs from the muladhara chakra to the navel chakra where it branches out. Supplies prana to the left foot. 
                    Its energy involves the middle of the hand and foot and from there branches on the five fingers or toes, ending primarily within the thumb and large toe.
                    Its apertures are the tip of the thumb and large toe.
                    <br \>
                    <br \>
                    3. Gandhar: A musical note - Branches out from the third eye and responsible for dream and inventive vision. It goes to the left eye, which is its orifice, and supplies prana to that.
                    <br \>
                    <br \>
                    4.Shankhini: Means "Similar to Sea Shell" - It branches out from the third eye, goes to the left ear, which is its orifice, and supplies prana to it. It makes us receptive to higher influences and visions. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Pingala Nadi/[पिंगला नाडी]</span>
                    <br \>
                    <br \>
                    1. Pingala: "The Red" -It starts from the muladhara Chakra, goes in spiral from the right side and branches out from the sense organ, goes to the right nostril, which its orifice, and supplies prana.
                    <br \>
                    <br \>
                    2. Yashasvati: "Abounding in Glory" runs from root chakra to the navel chakra where it branches out.There Supplies prana to right foot and hand 
                    <br \>
                    <br \>
                    3. Payasvini:  "Full of Juice".It branches out from the pineal eye[third eye], goes to the right ear, which is its orifice, and supplies prana to it.
                    <br \>
                    <br \>
                    4. Pusha: "Nourisher" ,it branches out from the sensory receptors, goes to the right eye, which is its orifice, and supplies prana to it. This is an important nadi because the soul [Atman] dwells within the right eye during the waking state. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Sushumana Nadi</span>
                    <br \>
                    <br \>
                    <br \>
                    <br \>
                    <br \>
                    <br \> 
                    <br \>
                    <br \>

                
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}