{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/durgamaa.jpg">
            </div>
            <div class="bloghashes">
                <span>#navdurga</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Navdurga and their Significance on navratri.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Navratri literally meaning '9 nights' is a Hindu festival celebrated in September or October[Ashwini or Kartika Masa ] Month after Ganesh Chaturthi.
                    The 9 days of celebration honors 9 incarnation [Nav means 9] of Maa Parvati in the forms of Maa Durga. 
                    Each days sees a different theme of prayer,celebrations and spiritual significance where people come together and celebrate it dancing in different styles known as Garba[Dancing with Clapping] 
                    and Dandiya [Dancing with hitting sticks] while moving in concentric circles.
                    <br \>
                    <br \>
                    Each incarnation is also a reflection of internal spiritual growth. 9 Incarnation also align with the 7 chakras + Sun and the moon.
                    
                    All the incarnation can be remembered by one shloka:
                    <br \>
                    <br \>
                        <center style="font-weight:bold;">प्रथमं शैलपुत्रीति द्वितीयं ब्रह्मचारिणी ।</center>
                        <center style="font-weight:bold;">तृतीयं चन्द्रघण्टेति कूष्माण्डेति चतुर्थकम् ॥</center>
                        <center style="font-weight:bold;">पञ्चमं स्कन्दमातेति षष्ठं कात्यायनी तथा ।</center>
                        <center style="font-weight:bold;"> सप्तमं कालरात्रिश्च महागौरीति चाष्टमम् ॥</center>
                        <center style="font-weight:bold;"> नवमं सिद्धिदात्री च नवदुर्गाः प्रकीर्तिताः ।</center>
                        <center style="font-weight:bold;"> उक्तान्येतानि नामानि ब्रह्मणैव महात्मना ॥</center>

                        <br \>
                            <br \>
                            <br \>
                            The First incarnation is Maa Shailaputri. Second incarnation is Maa Brahmacharini.
                            <br \>
                            Third Incarnation is Maa Chandraghanta,Fourth incarnation is Kushmanda
                            <br \>
                            Fifth Incarnation is Maa Skandamata,Sixth incarnation is Maa Kathyayini,
                            <br \>
                            Seventh Incarnation is Maa Kaalaratri,Eigth Incarnation is Maa Maha Gauri
                            <br \>
                            Ninth Incarnation is Maa Siddhidhatri,These are eulogized as Nava Durga. 
                           <br \>
                           <br \>

                    <br \>
                    <br \>
                    Let us understand the significance, meaning and spiritual elements which each goddess incarnation represents during Navratri.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Shailaputri/शैलपुत्री</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">वन्दे वाञ्छितलाभाय चन्द्रार्धकृतशेखराम्।
                            वृषारुढां शूलधरां शैलपुत्रीं यशस्विनीम्॥</center>
                    <br \>
                    देवी वृषभ पर विराजित हैं। शैलपुत्री के दाहिने हाथ में त्रिशूल है और बाएं हाथ में कमल पुष्प सुशोभित है।
                    यही नवदुर्गाओं में प्रथम दुर्गा है। 
                    
                    <br \>
                    <br \>
                    I worship Goddess Shailputri to fulfil my wishes, 
                    who is adorned with a half-moon on her head, rides on a bull, carrying a trident and is illustrious.
                    <br \>
                    <br \>
                    The First Day is dedicated to Maa Shailaputri. The word can be divided into two as [Shaila means Mountain, and putri means daughter].So Shailaputri literally means 'daughter of the mountain', Maa Parvati.
                    Praying to this aspect of Mother Divine brings strength. 
                    When the mind is wavering,chanting the name of this Devi Shailaputri helps the mind to be centered at the ayga Chakra and committed to the goal[Lakshya] 
                    It gives us strength, courage, and composure to face our challenges and turn them into victory.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Brahmacharini</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">दधाना करपद्माभ्यामक्षमालाकमण्डलू।
                             देवी प्रसीदतु मयि ब्रह्मचारिण्यनुत्तमा॥</center>

                    <br \>
                    <br \>

                    हे देवी ब्रह्मचारिणी, जो हाथों में माला और कमंडलु धारण करती हैं, मुझ पर कृपा करें। 
                    जो भक्त भगवान को जानने के लिए उत्सुक हैं, जो ज्ञान चाहते हैं, उन्हें नवरात्रि के दूसरे दिन देवी ब्रह्मचारिणी की पूजा करनी चाहिए। 
                
                    <br \>
                    <br \>
                    The Second Day is dedicated to Maa Bhramacharani.Brahmacharya also has a higher meaning than just celibacy. Brahma means infinity and charya means moving.
                    Put together, Brahmacharya means moving towards infinity, which signifies knowing your vast nature in this Brahman.
                    I worship Goddess Brahmacharini to fulfil my wishes and give me strength to face my adversities and challenges.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Chandraghanta</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">पिण्डजप्रवरारुढा चण्डकोपास्त्रकैर्युता।
                            प्रसादं तनुते मह्यां चन्द्रघण्टेति विश्रुता॥</center>

                    <br \>
                    <br \>

                    माँ चन्द्रघण्टा का यह स्वरूप परम शांतिदायक और कल्याणकारी है। इनके मस्तक में घंटे का आकार का अर्धचंद्र है, इसी कारण से इन्हें चंद्रघंटा देवी कहा जाता है।
                
                    <br \>
                    <br \>
                    The Third Day is dedicated to Maa Chandraghanta.
                    O Goddess Chandraghanta, who rides on Tiger, angry on rakshasas and enemies, hold many weapons in 10 hands, be propitious to me.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kushmanda</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;"> सुरासम्पूर्णकलशं रुधिराप्लुतमेव च।
                            दधाना हस्तपद्माभ्यां कूष्माण्डा शुभदाऽस्तु मे॥</center>

                    <br \>
                    <br \>

                    हे देवी मां कूष्माण्डा, जो कलश मदिरा से भरा हुआ है, रुधिर अर्थात् रक्त से लथपथ है।
                     ऐसे कलश को माँ भगवती ने अपने दोनों कर कमलों में धारण किया है। ऐसी मां कूष्माण्डा मुझे शुभता अर्थात् कल्याण प्रदान करें।
                
                    <br \>
                    <br \>
                    The Fourth Day is dedicated to Maa Kushmanda.
                    Goddess Kushmanda who holds two pitchers full of Madira and Blood in her lotus hands, be propitious to me.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Skandamata</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">सिंहासनगता नित्यं पद्माश्रितकरद्वया।
                        शुभदास्तु सदा देवी स्कन्दमाता यशस्विनी॥</center>

                    <br \>
                    <br \>

                    हे देवी मां स्कंदमाता, जो कार्तिकेय के साथ सिंह पर सवार हैं, अपने दो हाथों में कमल और एक हाथ में वरमुद्रा धारण किए हुए हैं। 
                    ऐसी मां स्कंदमाता मुझे शुभता अर्थात् कल्याण प्रदान करें। 
                
                    <br \>
                    <br \>
                    The fifth Day is dedicated to Maa Skandamata.
                    Skandmata, who rides on Lion with Kartikeya, holds a lotus in her two hands and Varmudra in one hand, be propitious to me..
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kathyayini</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">चंद्र हासोज्ज वलकरा शार्दू लवर वाहना।
                            कात्यायनी शुभं दद्या देवी दानव घातिनि॥</center>

                    <br \>
                    <br \>

                    हे देवी मां कात्यायनी, जो अपने हाथ में चंद्रहास तलवार रखती हैं और शेर पर सवार हैं, और राक्षसों को नष्ट करती हैं. 
                    ऐसी मां कात्यायनी मुझे शुभता अर्थात् कल्याण प्रदान करें।
                
                    <br \>
                    <br \>
                    The Sixth Day is dedicated to Maa Katyayini.
                    Devi Katyayani, who holds Chandrahaas Sword and rides on Lion, and destroying demons, be propitious to me. 
                    May she give me the strength and valor to face my challenges head on.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kaalaratri</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">
                        एकवेणी जपाकर्णपूरा नग्ना खरास्थिता, लम्बोष्टी कर्णिकाकर्णी तैलाभ्यक्तशरीरिणी।</center>
                        <center style="font-weight:bold;">वामपादोल्लसल्लोहलताकण्टकभूषणा, वर्धनमूर्धध्वजा कृष्णा कालरात्रिर्भयङ्करी॥</center>

                    <br \>
                    <br \>

                    हे देवी माँ कालरात्रि, जो अंधकार का नाश करने वाली हैं,राक्षसों का अंत करने वाला माँ दुर्गा का यह रूप देखने में अत्यंत भयंकर लेकिन शुभ फल प्रदान करता हैं।
                    इसलिए माँ कालरात्रि को "शुभंकरी" भी कहा जाता है।अपने चार हाथों में लोहे का अस्त्र, अभयमुद्रा , खड्ग और वरमुद्रा किये हुए माँ अपने वाहन गर्दभ पर विराजमान हैं।
                
                    <br \>
                    <br \>
                    The Seventh Day is dedicated to Maa Kalaratri.
                    Her complexion is dark black and she rides on a donkey.She is depicted with four hands where her right hands are in Abhayamudra, 
                    Varamudra whereas in her left hands she carries a sword and the deadly iron hook.With every breath she exhales fires and her eyes are round similar to brahman.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Maha Gauri</span>
                    <br \>
                    <br \>
                    <center style="font-weight:bold;">श्वेते वृषे समारुढा श्वेताम्बरधरा शुचिः।
                     महागौरी शुभं दघान्महादेवप्रमोददा॥</center>

                    <br \>
                    <br \>

                    हे देवी माँ महागौरी जो सफेद बैल पर सवार होती हैं, शुद्ध सफेद वस्त्र पहनती हैं, प्रसन्नता प्रदान करती हैं, ऐसी माँ महागौरी मुझे शुभता अर्थात् कल्याण प्रदान करें।
                
                    <br \>
                    <br \>
                    The Eight Day called Ashtami is dedicated to Maa Mahagauri.
                    
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Siddhidhatri</span>
                    <br \>
                    <br \> 
                    <center style="font-weight:bold;">सिद्धगन्धर्वयक्षाघैरसुरैरमरैरपि।
                        सेव्यमाना सदा भूयात् सिद्धिदा सिद्धिदायिनी॥</center>
   
                       <br \>
                       <br \>
   
                       हे देवी सिद्धिदात्री, जिन्हें सिद्ध, गंधर्व, यक्ष, देवताओं, दानवों आदि द्वारा पूजा जाता है, उनके हाथों में शंख, चक्र, गदा और कमल हैं, 
                       सभी सिद्धियों के दाता और उनके ऊपर विजय पाने वाली माँ सिद्धिदात्री मुझे शुभता अर्थात् कल्याण प्रदान करें।
                   
                       <br \>
                       <br \>
                       The Ninth and Last Day of Navratri is called Navami[Nav means 9] is dedicated to Maa Siddhidatri.
                       Goddess Siddhidatri who is worshipped by Siddha, Gandharva, Yaksha, Gods, Demons etc., holds Conch, Chakra, Gada, and Lotus in her hands, 
                       the giver of all siddhis and victory all over, be propitious to me. May she grant us the strength to face our challenges, fight all our odds and achieve success in life.
                        <br \>
                        <br \>
                        After the end of 9 days and nights, we mark an end to navratri. Devi Maa which have been our holy guest for 9 days, providing us with strength, courage and shakti departs when we immerse her in a holy river.
                        The Next day is called Vijaya Dashami [Vijay meaning Victory and Dashmi meaning 10th Day], literally translating to The tenth day of victory.
                        <br \>
                        <br \>
                        On vijaya Dashmi in treta yuga, lord rama and demon ravana fought in the epic war of ramayana where lord rama killed ravana and brought order to cosmic creation.
                        Here, lord Rama instructed Lord Laxmana to sit near the feets of Demon king ravana, where laxman requested ravana to share his knowledge for different facets of life.
                        <br \>
                        <br \>
                        After this , lord rama reunited with Maa sita and returned back to Ayodhya in Pushpak Vimana and it took them 21 days, upon arriving in Ayodhya, entire city was lit in diyas,
                        and lord rama arrival was celebrated as Holy festival Diwali.
                        <br \>
                       <br \>
                       <br \>
                       <br \>

                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}