{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/Vayus.jpg">
            </div>
            <div class="bloghashes">
                <span>#Prana/[प्राण्]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How Prana flow is distributed in the human body.</h3>
            </div>
            <div class="blogconthere">
                <span>The air we breathe divides itself into 2 sets of 5 prana according to the movement and direction. These sets are called MahaPrana and LaghuPrana.
                    <br \>
                    Each of these prana is separate subject in ayurveda and serves as a bridge between ayurveda and yogic thought.
                    These represents 10 types of energy that we possess and through which the human body functions and ultimately the universe.
                    <br \>
                    <br \>
                    The 5 MahaPrana are Udana, Prana, Apana, Vyana, Samana.
                    Vyana control the entire vayu flow of the body that is from Head to toe, Udana from Head to Throat, Prana from Nose to heart, Samana from Heart to Navel, Apana from Navel to Feet.
                    <br \>
                    <br \>
                    The 5 LaghuPrana are Naga, Kurma, Krikala, Devadutt and Dhananjaya. 
                    They have different sphere of influence in the human body.

                    The 5 MahaPrana are called Ojas and 5 LaghuPrana are called Retas.As our eyes,hand and legs support each other for proper functioning, similarly
                    Mahaprana and Laghuprana ais each other to carry out their respective functions clearly.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Maha Prana / लघु प्राण</span>
                    <br \>
                    <br \>Prana are cycle of air flows like a tornado[wider on top, thinner on bottom] with different intensity, direction and application.
                    Udana, Prana, Apana, Vyana, Samana contribute most of the pranic flow in the human body and receive timely aid from laghuprana.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Udana / उदान</span>
                    <br \>
                    Udana is the vital energy in the throat that governs speech and self-expression and holds the head up through the neck.
                    <br \>
                    <br \>
                    Udana is a symbol of Shree [श्री] and Samridhi [समरिद्धि]. Goddess Lakshmi is said to be centered around the throat gland in the form of Sphuta[the fane of a snake].
                    <br \> 
                    We pray to goddess lakshmi and raise the consciousness of Sphuta by wearing gold and silver ornaments.
                    Some even wear jewels,rubies and other stones to rasie the power of this Sphuta and reap the benefits.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Prana / प्राण</span>
                    <br \>

                    Prana is the vital energy in the heart that governs life and heartbeat of the human body. Prana is propulsive in nature,
                    setting things in motion and guiding them.
                    <br \>
                    <br \>
                    Controlling of Prana leads to longer state of Samadhi and without it we cannot control our meditations for longer duration.
                    <br \>
                    Controlling of Prana leads to longer life and even control over death and we can decide when to leave our gross bodies.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Apana / अपान</span>
                    <br \>
    
                    Apana is the Vital energy which governs removal of waste from the human body in the form of Excreta,Urine,Menstural fluids or Sweat.
                    <br \>
                    <br \>
                    If this vital force is reduced in strength, we have trouble removing waste from our bodies which can lead to  
                    frequent cold, cough and indigestion of food.
                    <br \>
                    The strength and flow of apana governs vigor and vitality which is in turn responsible for the act of intercourse and reproduction.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Vyana / वयान</span>
                    <br \>

                    Vyana is the vital force which is situated in the middle portion of the brain and is responsible for enlightenment and Divya-Drishti. 
                    It is also responsible for creating blood and plasma for the human body.
                    <br \>
                    <br \>
                    <strong>
                    If we strecth a line between the ears and we draw a line from the third eye to back of skull, the intersecting point is called 'Trikuti'.
                    This trikuti is the point where our meditation is centered and our focus should always be on this Trikuti.
                    </strong>
                    <br \>
                    <br \>
                    Vyana is helped by Dhananjaya which is a laghu prana.
                    'Vyana is often referred to as Krishna and Dhananjaya is referred as Arjuna'. 
                    <br \>
                    Vyana is also called 'Garuda' who is the vehicle of Lord Vishnu. 
                    A person who has realised his Vyana is said to realise the arrival of gods in his consciousness.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Samana / समान</span>
                    <br \>

                    Samana is the vital force which is located below the bellybutton. It is primarily responsible for digestion and symbolizes Pitta component.
                    Agility of the body, glowing skin, happiness are all symbols of well flowing Samana. Huge Hunger, eating huge quantities of food, fast digestion and stronger immunity to cold also symbolizes good Samana.
                    <br \>
                    <br \>
                    People who can't face cold weathers, who feel full after small portions of food, who like sitting near fire, feel excessive cold in hands and feets
                    signify weaker prana flow of Samana.
                    <br \>
                    <br \>

                    <span style="font-weight:bold;">Laghu Prana / लघु प्राण</span>
                    <br \>
                    Laghu Prana are smaller vital forces who aid Maha Prana in their functioning. They are also called Retas.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Devdutt / देवदत्त</span>
                    <br \>
                    Devdutt is one the most important laghu prana as it's responsible for enlightenment[आत्म-साक्षात्कार].
                    It is responsible for 8 Siddhis [अष्टसिद्धि], 9 Niddhis [नवनिधि] and yogis who have realsied devdutt acquire all of them.
                    <br \>
                    <br \>
                    Duvdutt is also responsible for giving boon-curse, divine sight, Anima, Mahima and Laghima.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Dhananjaya / धनञ्जय</span>
                    <br \>
                    Dhananjaya is the second most important laghu prana after Devdutt. Siddha Yogi who have reached enlightenment and possess 
                    great spiritual and mental powers have greater command over Dhananjaya Prana.
                    <br \>
                    <br \>
                    In mind reside great powers like Mental Strength and Fortitude, Decision Power, Creative Power, Happiness and Compliance can be greatly exercised and enjoyed by dhanajaya.
                    <br \>
                    After death, dhanajaya prana is responsible for fast decay of the human body.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Krikala / कृकल</span>
                    <br \>
                    Krikala is a prana which resides in stomach and is responsible for raising hunger, thirst, sneezing and yawning in the human body.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kurma / कुर्म</span>
                    <br \>
                    Kurma prana resides in the eyes and controls the blinking [पलक झपकना] of the eyes.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Naga / नाग</span>
                    <br \>
                    <br \>
                    Naga prana resides in throat and controls the belching[डकार] of the human body.
                    <br \>
                    <br \>

                
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}