{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/shiva.jpg">
            </div>
            <div class="bloghashes">
                <span>#Shiva/[भगवान् शिवः]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Many Avatars of Lord Shiva</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Lord Shiva often fondly remembered by names like Mahadeva,Rudra,Mahakal is one of the principal diety of Sanatana Dharma.
                    Lord Shiva is one of the Trimurti's of hinduism and his role is that of a Destroyer in the Universe. Mahadeva is said to destroy a universe
                    when it has reached its time by performing the ever auspicious and fierce dance form Shiva Tandava.

                    <br \>
                    <br \>
                    There a huge difference between a diety having many names and avatar, one should be cautious while studying the difference. A different name is given to a diety when a diety is a Symbol of that name and has trancended its meaning.
                    For example, Shiva is called 'Mahakal'[Maha-Big, Kal-Time] because he is beyond time, shiva has trancended the influence of time and he alone control the Past, Present and future.
                    Avatar means an Incarnation in a different life form on Earth, who is responsible for bringing balance in the Universe.
                    <br \>
                    <br \>
                    Lord Shiva over the course of this MahaYuga has taken many avatars where this avatars have taken up the responsibilty of bringing balance between Dharma and Adharma.
                    Different texts have mentioned different number of Avatars, but for this discussion we will consider the 19 Avatar mentioned in Shiva Puran
                    <br \>
                    <br \>
                    Let us understand the significance,meaning and symbolism of each avatar.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Piplaad Avatar</span>
                    <br \>
                    Born to Rishi Dadhichi as piplaad, he left home due to positioning of Shani or Saturn.So, Piplaad cursed Shani and cause it to fall from it's abode.
                    <br \>
                    <br \>
                    Piplaad forgave Lord Shani on a condition that 'The planet would never trouble anyone before 16 years of age'. 
                    Worshipping Piplaad form of Mahadev helps us get rid of Shani Dosha.
                    <br \>
                    <br \>

                    <span style="font-weight:bold;">Nandi Avatar</span>
                    
                    <br \>
                    Nandi also knonwn as vehicle of Lord shiva. Lord Shiva took this avatar in order to protect the herds. 
                    <br \>
                    <br \>
                    Lord shiva gave a boon to nandi that anything said in Ear's of nandi maharaj will surely reach mahadeva. Hence, many hindus speak there wishes in nandi's ear.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Bhairava Avatar</span>
                    <br \>
                    Lord Shiva took the avatar of Bhairava to teach Brahmadev a lesson. Brahmadev had 5 heads and lied about his quest and penance for superiority.Lord shiva took avatar of Bhairava and chopped off Brahmadev's 5th head.
                    <br \>
                    <br \>
                    After severing brahma's head, shiva was guilty of one of the highest crimes in sanatana dharma, that is Brahma Hatya. Hence, shiva carried brahma's skull for twelve long year and roamed around earth as Bhikshatana.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Sharabha Avatar</span>
                    <br \>
                    The word Sharabha means 'Part lion,part bird'. Lord shiva took this avatar to tame Lord Narasimha who was a lord vishnu avatar. 
                    <br \>
                    <br \>
                    This form is well known as Sarabeshwara[Bhagwan Sarabha].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Veerabhadra Avatar</span>
                    <br \>
                    Veerabhadra is one of the most fiercest avatar of lord Shiva. Lord Shiva took avatar of Veerabhadra when Lord Sati immolated[Burned] herself during a yagya organised by her father,prajapati daksha.
                    <br \>
                    <br \>
                    This ferocious avatar is said to have destroyed the yagnya, polluted all offering , broke all sacrificial vessels and finally cut off Daksha head.
                    Later, lord shiva restored life to daksha by replacing it with a goat's head.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Grihapati Avatar</span>
                    <br \>
                    Grihapati was born to a great devotee of Shiva,Shuchismati. She was a great shiva devotee and yearned and perform tapas to have a child like shiva. 
                    <br \>
                    <br \>
                    Grihapati was a child well versed in all 4 vedas but had to die young due to planetary positions. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Yatinath Avatar</span>
                    <br \>
                    Lord shiva took avatar of Yatinath to visit a ardent shiva devotee, Aahuk and his wife. Shiva disguised as a priest and visited their hut.
                    Their hut was too small of Shiva, therefore, Aahuk decided to sleep outside but was killed by an animal.
                    <br \>
                    <br \>
                    Seeing this, Aahuk's wife decided to kill herself but shiva stopped her.He blesses her that in next life, they would born as Nala and Damyanti and Shiva would unite them. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Ashwatthama</span>
                    <br \>
                    Ashwatthama was born to Dronacharya and Kripi who were on kaurava's side. Ashwatthama was known as 'Vish Purush' or born out of poison.
                    The story goes, during samudra manthan, when shiva consumed Halahala, something sprung from his throat and that was ashwatthama. 
                    <br \>
                    <br \>
                    Ashwatthama was to be raised as a brahmun but became a fierce warrior and was blessed that he will be able to kill oppressive Kshatriyas.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Lord Hanuman</span>
                    <br \>
                    Rudra avatar of Lord Shiva is Hanuman. Hanuman is one of the strongest warrior in Sanatana Dharma and holds 8 siddhis[Occult Power].
                    Shiva granted boon to Anjani Mata[Lord Hanuman's mother] that he will born as his son and hanuman ji was born. 
                    <br \>
                    <br \>
                    
                    <span style="font-weight:bold;">Vrishabha Avatar</span>
                    <br \>
                    
                    During Samudra manthan, lord vishnu tricked asuras with creating an illusion of enchanting beautiful women. Asuras became enchanted and
                    and carried them to Patala Loka. When vishnu went to patala loka to annihilate asuras, he got caught in the maya of these enchanting beauties.
                    He fathered many immoral sons born out of this union, these sons started creating havoc for the devas.
                    <br \>
                    <br \>
                    Lord Shiva took an avatar of an 'Ox' or 'Vrishabha' and killed all sons of lord vishnu.Lord Vishnu seeing this participated in this battle but 
                    upon realising the ox as Lord shiva dropped his weapons and returned to Vaikuntha.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Sureshwar Avatar</span>
                    <br \>
                    Upamanyu, son of sage Vyaghrapaad was an ardent shiva devotee. Pleased with his penance, Lord Shiva and Maa Parvati decided to test his devotion.
                    They disguised as Indra Dev and Indrani and asked Upamanyu to stop his Tapasya. Upon hearing this Upamanyu got enranged and refused to discontinue his penance.
                    <br \>
                    <br \>
                    Upon seeing his utter devotion, lord shiva blessed him that he along with maa parvati would always be present near his Ashram.
                     Because of this, he was given name as "Sureshwar".
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kirateshwar Avatar</span>
                    <br \>
                    Lord Shiva took this avatar during Dwapar Yuga. Lord shiva descended from kailash in the form of hunter Kirat.
                    Arjuna was meditating to kill an Asura named Mooka who disguised as a boar. After his meditation got disturbed because of mmovement of boar,
                    arjuna fired an arrow and at the same time Shiva[Kirat] fired an arrown, which killed Moora.
                    <br \>
                    <br \>
                    An argument broke betwwen Kirat and Arjuna as to whose arrow struck first.So, arjuna challenged Kirat to a duel and seeing his fierce valor, shiva blessed him with
                    a Pashupata Astra.
                    <br \>
                    <br \>
                    
                    <span style="font-weight:bold;">Suntantarka Avatar</span>
                    <br \>
                    Lord Shiva took this incarnation to ask the hand for marriage of the ever sportive daughter of king of himalaya, Maa Parvati.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Brahmachari Avatar</span>
                    <br \>
                    Maa Parvati was determined to marry lord shiva and performed tapasya for many years, to test maa parvati's dedication and devotion,
                    lord shiva took this incarnation of Brahmachari Avatar.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Avadhut Avatar</span>
                    <br \>
                    Lord Indra[King of Devas] became arrogant and drunk on his powers, hence shiva took avatar as Avadhut and destroyed his arrogance.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Durvasa Avatar</span>
                    <br \>
                    Durvasa avatar was taken by lord shiva to maintain balance in the universe.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Bhikshuvarya Avatar</span>
                    <br \>
                    Lord shiva took this avatar to protect all human being from evil, malice and dangers of life.Humans pray to this form to get rid of evils and sufferings of life. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Krishna Darshana Avatar</span>
                    <br \>
                    Lord Shiva took this avatar to teach us the importance of Yagna and rituals in a person's life.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Yaksheshwar Avatar</span>
                    <br \>
                    After samudra manthan, gods became arrogant of their power and shiva disliked it.Hence, to break gods arrogance,Shiva presented the
                    gods with a simple challenge of cutting some grass. All devas tried, but no one was able to cut this divine grass, hence breaking their pride and arrogance.
                    <br \>
                    <br \>
                    After this beautiful incidence in itihasa,he came to be known as Yaksheshwar.
                   
                    <br \>
                    <br \>
                    There are many more avatars mention in Shiva Purana and other texts according to time and requirement of the cosmic order.
                    But these ones are most prayed too, studied and remembered for their blessings.

                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}