{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/swastika.jpg">
            </div>
            <div class="bloghashes">
                <span>#Swastika/[स्वास्तिका]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">How to correctly design the Purest symbol of Swastika as per Vedic literature.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Swastika is one of the most auspicious symbols in Asian way of living like Hinduism, Buddhism and Jainism.
                    Swastika is a symbol of peace and is derived from the sanskrit roots 'Su [Good]' , 'Asti [to prevail]' and Ka [For Doer or Karta ].
                   <br \>
                   <br \>
                    Swastika can be symbolized in two ways according to vedic texts and both representation have different meaning.
                   <br \>
                   <br \>
                    The right-facing symbol [卐] [Understood clockwise] is called swastika, symbolizing Lord Surya , prosperity and good luck,
                    while the left-facing symbol [ 卍 ] [Understood counter-clockwise] is called sauwastika, symbolising night or Tantra.
                   <br \>
                   <br \>
                   The swastika symbol has many interpretations and meaning which hold deep spiritual symbolism.
                   4 legs of the symbol represent the 4 yugas [Satya,Treta,Dwapar,Kali], it also represents 4 objective of human life known as Purusharta[Dharma,Artha,Kama and Moksha]. 
                   <br \>
                   <br \>
                   4 legs also represents 4 Vedas as well as 4 stages of human existence[Brahmacharya,grahsta-ashrama,vana-prasthana,sanyasa-ashrama].
                   <br \>
                   <br \>
                   <strong>
                   There is a definite and purest way on how swastika should be made, what lines are made first and why they are made so.
                   <br \>
                   <br \>
                   We start with Purusharta as all of them leads to brahma and incidentally Brahman. Dharma[1] leads us to Brahma, then we go clockwise, Artha[2] leads to Brahma, Kama[3] leads to Brahma and finally Moksha[4] leads to Brahman.
                   <br \>
                   Then we have 4 Muktis which also goes clockwise. Sayujya[5] to 1, Salokya[6] to 2, Sarupya[7] to 3, Samipya[8] to 4.
                   <br \>
                   Then we have 4 part of Human Mind when we go from inside to outside. First, Mana[12], then Buddhi[9], then Chitta[10] and lastly Ahamkara[11], and when we transcend Ahamkara, we understand the highest Truth.
                   <br \>
                   Lastly, we have 4 part through which we show our Bhakti towards God. Firstly, Devotion[13] which leads to Trust[14] which leads to Surrender[15] through which we display Love[16] towards our God. 
                   <br \>
                   <br \>
                   If you observe closely, the entire design follows a clockwise cycle for all 4 steps of 4 symbol each.
                   Purushartha[1-4], Mukti[5-8],Manas[9-12],Bhakti[13-16].
                   The most auspicious colors to design swastika are Red and Yellow.
                   <br \>
                   This is the most purest way to design swastika according to Tantra-Shastra, Mantra-Shastra and Veda-Puranas and should be followed in every household
                   which follow the Dharmic way of living.
                   </strong>
                   <br \>
                   <br \>
                   There are hardly 1-2% of Hindus who know and design in the correct way, but in order to reap the highest benefits of swastika, we should design 
                   it as listed above. You should also not look at the swastika symbol again and again.Once designed in the proper manner, it should be left
                   for the gods to bless the symbol and the household.
                   <br \>
                   <br \>
                  
                   This is the reason why everything should be designed as per listed in the scriptures.
                   <br \>
                   <br \>
                   But why? Why do we need to design things in the right way?
                   The answer is simple, so we can perform our duties in a rightful way. Dharma is fluid and it recriprocates according to the deeds and methods used by a yogi.
                   <br \><br \>
                   It's naive to design things in an inproper manner and pray for opportunities to perform proper deeds.
                   <br \><br \>

                   <br \><br \>

                </span>    

            </div>
        </div> 
    </div>
</body>
{%endblock%}