{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/vedas.jpg">
            </div>
            <div class="bloghashes">
                <span>#vedas</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Vedas and its significance in Sanatana Dharma</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Vedas are apaurusheya which means 'it has no author'. Vedas consists of hymns and chant which where contributed by various Sages and Seers over an extended period of time. 
                    RigVeda is considered as the Oldest lore in the world. It's the first and most important out of the 4 Vedas or Sacred Lore.
                    Entire Literature or texts of Sanatana Dharma is divided in 2 portions. 1 is Shruti and another is Smriti.

                    <br \>
                    <br \>
                    Shruti means "Eternal Knowledge" which signifies that the knowledge which it represents is eternal[continous] or cannot be considered obsolete over infinite time periods.
                    <br \>
                    <br \>
                    Smriti represents all the Historical Changes which have happened along the way and was recorded by Sages and Yogis in the forms of Sanskrit hymns,shlokas,mantras and strotas.
                    <br \>
                    <br \>
                    All the 4 vedas[Rig,Yajur,Sama,Atharva] and Subsequent texts[Samhita, Brahmana, Aranyaka, Upanishads] are part of Shruti and all remaining texts and literature[Vedangas,UpaVedas,Darshana, Itihasa] are part of Smriti.
                    <br \>
                    <br \>
                    <br \>
                    The word Vedas comes from the root "vid' which means to know. Know what? To know about anything and everything in existence or about Brahman.
                    The Vedas are praised by a shloka as 'अनन्त वे वेदा:' which means "The Systems of Knowledge are Infinite'.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Shruti</span>
                    <br \>
                    Texts which are eternal and in alignment with cosmic order.
                    <br \>
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">RigVeda</span>
                    <br \>
                    RigVeda is formed by joining 2 words Rig and Veda .Rig means 'Words of Praise ' and Veda means 'To Know. Therefore, RigVeda literally means 'To Know about words of Praise'.
                    <br \>
                    <br \>
                    Now, whose praise? Praise of natural elements such as God[Devas] and Goddesses[Devis].Natural elements are personified as Devis and Devas, Why? So you can easily pray to them. It is easier to
                    pray to a God[Eg. Vayu-Deva] whose is a literal personification of Air element than Air itself.
                    <br \>
                    <br \>
                    No one adamently knows till date how old RigVeda is, We can assume that it is as old as Universe is consideering the argument "How can you praise someone [Natural Elements] you can't see or realise it?"
                    Once, you have realised the power of a element, only then you can praise it.The mantras are recited during a 'Yagnya where we ask the deity to share his or her power with us; 
                    through which we fight evil and malice in our lives and society.
                    <br \>
                    <br \>
                    Rig Veda as a book is divided into 4 padas[Samhita, Brahmana, Aranyaka, Upanishads]
                    Samhita is divided into 10 Mandalas or cirlces where each mandala has many suktam and each suktams have many mantras. RigVeda consists of 85 Anuvakas and arpund 1028 Suktas[1017 + 11 Appendix].
                    All suktas in total consists of 10552 Mantras. 
                    <br \>
                    <br \>
                    Brahmana is divided into two as Shakal and Bhaskal. Shakal is Aaitreya Brahmana and Bhaskal is Kaushitaki Brahmana.
                    <br \>
                    <br \>
                    Aranyak is also divided as Aaitreya Aranyaka and Kaushitaki Aranyaka.
                    <br \>
                    <br \>
                    There are 9 Major Upanishads in RigVeda suchs as Aaitreya, Mudgala, Nirvana , Atma Bodha etc. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">YajurVeda</span>
                    <br \>
                    <br \>
                    Yajur comes from the root Yuj which means "a practice or ritual "and vid is "To know". 
                    So,YajurVeda translate as 'To know of a practice or ritual". 
                    <br \>
                    <br \>
                    Yajur Veda as a book is also divided into 4 padas[Samhita, Brahmana, Aranyaka, Upanishads]
                    <br \>
                    <br \>
                    Samhita is divided into as Krishna and Shukla. These two texts are most read and studied to perform yagyas and rituals across all temples.
                    Krishna consists of Taittreya, Maitrayani, Caraka-Katha and Kapisthala Samhita, whereas Shukla is further divided into 2.
                    <br \>
                    <br \>
                    One is Vajasaneyi Madhyanda Samhita which has 40 adhyayas, 303 anuvakas and 1975 verses.
                    <br \>
                    <br \>
                    Second is Vajasaneyi kanva Samhita which has 40 adhyayas, 328 anuvakas and 2086 verses.
                    <br \>
                    <br \>
                    Brahmana is again divided into two as Krishna and Shukla.
                    Krishna Brahmana is divided into 4 shakas as Taittreya, Maitrayani, Caraka-Katha and Kapisthala katha brahmana.
                    <br \>
                    <br \>
                    Shukla Brahmana has 2 shakhas as Madhyandina Shakha and Kanva Shakha. Madhyadina consists of Sthapathya brhamana madhyadina recension and Kanva Shakha has Sthapathya brahmana kanva recension.
                    <br \>
                    <br \>
                    There are 4 aranyaka in yajur veda and they are Taittreya, Maitrayani, Katha and Brihad Aranyaka.
                    <br \>
                    <br \>
                    Upanishads are further divided into 2 as Krishna and Shukla.
                    Krishna Shakha has 35 Upanishads with Katha, Varaha, Brahma-Vidya, Skanda , Garbha as some upanishads.
                    <br \>
                    <br \>
                    Shukla shakha has 19 Upanishads with Adhytama, Isavaasya, Brihadaranyaka, Paramhansa, Yajnavalkya as some upanishads.
                    <br \> 
                    <br \>
                    <span style="font-weight:bold;">SamaVeda</span>
                    <br \>
                    <br \>
                    Sama comes from the root Saman which means 'A gentle song' and veda means 'to know', therefore, literally translating to "To Know about musical notes". 
                    Sama Veda as a book is also divided into 4 padas[Samhita, Brahmana, Aranyaka, Upanishads]
                    <br \>
                    <br \>
                    Samhita is branched into many shakhas such as Kuthuma shakha, Jaimini Shakha, Vyasa Shakha, Karati Shakha and more.
                    There are total 1875 Mantras in all shakhas with Purvachika Samhita having 650 Mantras and Uttarachika Shakha having 1225 Mantras.
                    <br \>
                    <br \>
                   Brahmana are further branched into 2 shakhas as Kauthuma Shakha and Jaiminiya Shakha.
                   Kauthuma Shakha consists of Tandya Mahabrahmana or Panchavimsha Brahmana. And Jaiminiya Shakha consisting of Jaiminiya Brahmana, Jaiminiya Arsheya Brahmana and Jaiminiya Upanishad Brahmana.
                    <br \>
                    <br \>
                    Aranyaka are branched into 2 as Talavakara Aranyaka and Aranyaka Samhita.
                    <br \>
                    <br \>
                    Upanishad are branched into 7 Upanishad with Darsana, Jabali, Kena, vajra Soochika, Yoga Chudamani, Maha and Vasudeva Upanishads.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">AtharvaVeda</span>
                    <br \>
                    <br \> 
                    Atharva Veda is studied for human faculties of life.Subject like Chanayaka Neeti, Arthashastra belong to atharva veda. 
                    Atharva Veda as a book is also divided into 4 padas[Samhita, Brahmana, Aranyaka, Upanishads].
                    <br \>
                    <br \>
                    Samhita contains around 730 Suktas with 5987 Mantras.
                    <br \>
                    <br \>
                    Brahmana is branched into two as [Shaunaka and Paippalada Shakhas] and Gopatha Brahmana.

                    <br \>
                    <br \>
                    Atharva Veda has no aranyaka.
                    <br \>
                    <br \>
                    Atharva veda has 14 Upanishads with Adharvasikha, Atma, Brihad Jabala, Garuda, Maha Vakya, Sarabha Upanishad as some of them.
                    <br \>
                    <br \>
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Smriti</span>
                    <br \>
                    All texts which represent historical changes taking place with time.
                    <br \>
                    <br \>
                    Smriti are divided into 5 as Vedangas, UpaVedas, Darshana, Puranas and Itihasas. 
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Vedangas</span>
                    <br \>
                    <br \>
                    Vedangas can be bifurcated into two as 'Veda' and 'Anga' where anga means a part or limb. 
                    Vedangas are tools to understand Vedic Literature and they fall under 6 categories.
                    <br \>
                    <br \>
                    They are Shikha[Phonetics], Nirukta[Glossary],Vyakarana[Grammar], Jyotisha[Astrology], Kalpa[Practices and Rights] and Chandas[Poetic Metre].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Upaveda</span>
                    <br \>
                    <br \>
                    Each Veda is also ascribed with an Upaveda which is born out of revelations and study of each veda.
                    <br \>
                    <br \>
                    Ayurveda, the study of Ayur meaning life is an UpaVeda of RigVeda.
                    <br \>
                    <br \>
                    DhanurVeda, the study of archery and warfares is ascribed to YajurVeda.
                    <br \>
                    <br \>
                    GandharvaVeda, the study of aesthetics, music and dance is ascribed to Sama veda.
                    <br \>
                    <br \>
                    Artha-shastra, the study of pursuit of wealth and prosperity is ascribed to AtharvaVeda.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Darshana</span>
                    <br \>
                    <br \>
                    Darshana comes from the root drish which means to see, experience.
                    Darshana literally means 'A way to see ' , there are 6 schools of philosophy based on the vedas. 
                    <br \>
                    <br \>
                     This 6 schools are Nyaya, Vaiseshikha, Samkhya, Yoga, Purva Mimamsa, Uttar Mimansa Darshanas.
                    <br \>
                    Nyaya Darshana has 5 Chapters, 10 Ahnikas and 528 Suktas.
                    <br \>
                    Vaiseshikha Darshana has 10 Chapters, 20 Ahnikas and 370 Suktas.
                    <br \>
                    Samkhya Darshana has 25 Sutras.
                    <br \>
                    Yoga Darshana has 4 padas and 194 sutras.
                    <br \>
                    Purva Mimamsa Darshana has 16 Chapters.
                    <br \>
                    Uttara Mimansa Darshana has 4 Chapters, 16 Padas and 555 sutras.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Puranas</span>
                    <br \>
                    In Vedic literature, we have 18 Puranas.
                    <br \>
                    They are Vishnu Puran, Bhavishya Puran, garuda Puran, Agni puran, mahanhagavata puran, shiva puran, markandeya puran, linga puran, 
                    Brahmavaivarththa Puran, Matsya Puran, Kurma Puran, Varaha Puran, Vamana Puran, Skanda Puran, Brahmanda Puran, Patma Puran, Vayu Puran and Naradheeya Puran.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Itihasa</span>
                    <br \>
                    We have 2 epic and most read Itihasas in Sanatana Dharma and they are Ramayana and Mahabharta.
                    These are ancient epics which took place many centuries ago in Jambudweepa.
                    <br \>
                    <br \>
                    <br \>
                    This constitute the entire vedic literature. There are many more scriptures which are part of these topics and those topics also have sub-topics called shakhas or branches.
                    Many scholars usually choose to study very few selective braches as studying and mastering a discipline is considered a lifelong effort and usually takes decades to master.
                    Once a yogi has mastered the discipline or art, he is given a title of Pandit or Shastri depending on the area of expertise.

                    <br \>
                    Some notable persons who have achieved mastery in their art are Pandit Ravi Shankar who achieved mastery in playing Sitar, 
                    Pandit Vamadeva Shastri[Dr. David Frawley] for his contibutions in the field of Astrology and innumerous books in the field of Vedas, Yoga,Ayurveda and many more.
                    <br \>
                    Studying of Vedas is a holy task and must be considered after thorough research and self-reasoning. Once taken up, it is a life long effort which takes many many decades to achieve. 
                    <br \>
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}