{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/lordvishnu.jpg">
            </div>
            <div class="bloghashes">
                <span>#Tridevas #Lord Vishnu/[भगवान् विष्णु]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Dasavatar of Lord Vishnu</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Lord Vishnu often fondly remebered by names like Narayan,Keshava is another pricipal diety of Sanatana Dharma.
                    Lord Vishnu is second Trimurti of Hinduism and his role is that of a Operator in the Universe. Vishnu is said to operate a universe
                    while residing on Sheeshnaga in milky ocean where a lotus is bloomed from his Navel in the form of Lord Brahma.
                    <br \>
                    <br \>
                    It is said in Vishnu Puran, when lord vishnu exhales, infinite universes are formed with many Brahma generating life in each of it and when he inhales, all universe gets dissolved back into him.
                    Lord Vishnu over the course of this Mahayuga will take 10 avatar in different life forms and therefore he is referred to as Dasavatar[Das-10, avatar-incarnation] where it literally means '10 Incarnation'.
                    <br \>
                    <br \>
                    The 10 Avatars of Lord Vishnu follows the journey of living entiites from acquatic beings, amphibians to human beings.
                    <br \>
                    1st avatar is a fish, 2nd is a amphibian, 4th is half-human half-animal,5th is a dwarf avatar, 6-10th are human gods.
                    <br \>
                    <br \>
                    Dasavatar of Lord Vishnu answers one of the most important question of 21st century which is, How evolution of Human beings took place.
                    You can notice how life started from water or Apah, then moved to ground or Bhoomi, then transformed to half human-half animal and then to
                    a fully Conscious Human Being.
                    Let us understand the significance,meaning and symbolism of each avatar.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Matsya Avatar</span>
                    <br \>
                    The first avatar of Maha Vishnu was Matsya Avatar in the Golden Age or Satya yuga.
                    In satya yuga,great king Manu ruled earth for centuries and when the world was at the brink of extinction, Manu was 
                    instructed by God in his dream about the Apocalypse. He was instructed to rescue the life form on earth, he choose 1 male and 1 female to keep the lineage from every species which existed, 
                    also collects plants of different species and loaded them all on the big ship he had already built.
                    
                    A fish/ [matsya] with horns came to the rescue. The huge ship was tied to the horns of the fish,then the fish pulled the ship out of the apocalypse with great speed towards the himalayas 
                    where they eventually settled. Later, a new community was built by King Manu where further expansion of species took place and new life was breathed into earth.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kurma Avatar</span>
                    <br \>
                    The Second avatar of Maha vishnu was Kurma Avatar where kurma literally means a tortoise.
                    In Satya yuga, a divine event took place by the name of Samudra Manthan or Churning of Oceans[Samudra-Oceans, Manthan-churning].Samudra manthan was performed with collective work of Devatas, Asuras and Tridevas Brahma, Vishnu and Mahesh. 
                    It was performed to obtained Divine Nectar or Amrita which makes decay or aging of human body extremely slow, making life spans increase exponentially.
                    <br \>
                    <br \>
                    A mountain by the name of 'Mandar' was used for churning the oceans and it was kept on top of the tortoise where Lord Vishnu took the avatar. 
                    Vasuki, the king of serpents was used as a rope to churn. Devas stood on one side and asuras stood on other and a tug of war like strategy was used to obtain nectar.
                    <br \>
                    <br \> With every nectar, in equal proportion posion is also created to maintain cosmic order. The posion 'Halahala'was so strong that few devas and asuras fainted just by the smell of it.
                    The posion was later consumed by Lord Shiva and it was stopped by Maa Parvati in the throat of lord shiva which turned it blue, hence him being adorned by the name 'NeelaKantha' [Neela meanng Blue, Kantha meaning Throat].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Varaha Avatar</span>
                    <br \>
                    The Third avatar of Maha Vishnu was Varaha Avatar where varaha means a 'Boar'. This means life has evolved from water to land.
                    In Satya yuga, a demon Hiranyakasha stole the earth[Bhudevi] and hid her in oceans where Vishnu appeared as Varaha to rescue her.
                    <br \>
                    <br \>
                    The battle lasted morer than 1000 years with varaha slewing the demon and retrieved Earth[Bhoomi] from ocean, lifting it on its tusks and restoring her place in the universe.
                    In the Vishnu Purana, Varaha represents yajna [A sacrificial offering], as the upholder of earth and His feet represent the Vedas [Holy Scriptures].
                    <br \>
                    <br \>
                    The head represents the seat of the Brahmin priest.The mane represents the hymns of the Vedas.The hair on his head denotes the sacrificial grass. The eyes represent day and night, 
                    His coarse hair represents sexual prowess.His tusks represent sacrificial stakes. His teeth are offerings. His mouth is the altar with tongue of sacrificial fire.His nostrils are for oblation. His joints represent the various ceremonies.
                    The ears are said to indicate rites.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Narasimha Avatar</span>
                    <br \>
                    This instance happened in the same family and in Satya Yuga, where Maha vishnu took avatar of Narasimha or 'Half Lion and Half Man'.
                    This denotes further evolution of life form from amphibians to animals and human forms.
                    <br \>
                    <br \>
                    The story goes, younger brother of Hiranyakasha, Hiranyakasipu sweared revenge on Lord Vishnu and his ardent followers.
                    He performed austere penance for many years to take revenge on Vishnu on account of death of his brother.
                    Pleased by his penance, lord brahma appeared and offerend the demon a boon. Hiranyakasipu asked for immortality which was deemed impossible by Brahma ji,
                    he instead told him that he could bind his death with conditions and only on those conditions being meet, Hiranyakasipu can be killed.
                    <br \>
                    <br \>
                    Hiranyakasipu asked that he may not be killed by Man or Animal, day or night, on earth or the stars and even with a weapon.
                    Lord Vishnu appeared as Narasimha Avatar[Half-Man, Half-Animal] from the pillars of the palace in which Hiranyakasipu lived.
                    <br \>
                    <br \>
                    He then went on to disembowels him with his fierce claws on his thighs and he killed him in evening[Neither Day or Night].
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Vamana Avatar</span>
                    <br \>
                    This instance happened in the same family and in Treta Yuga, where Maha vishnu took avatar of Vamana meaning 'Dwarf'.
                    This denotes further evolution of life form from animals and human forms to human forms.
                    <br \>
                    <br \>
                    King bali who is Fourth Descendant of Hiranyakasha performed severe penance and with the powers defeated,
                    King of Gods, Indra. With this he exteneded his authority over the 3 lokas which are Bhu Loka, Bhuvar Loka and Swarga lokas.
                    Seeing this, gods appealed to Vishnu and asked for his help where he took avatar of Vamana.
                    <br \>
                    <br \>
                    During a yagya being conducted by King Bali, Vamana approaced King bali where he promised to give anything he asked.
                    Vamana asked for 3 paces of land  and bali agreed. Vamana tricked bali and gre so giant in size that he covered the 3 lokas with just 2 step, first in heaven and second in lower world.
                    <br \>
                    <br \>
                    Upon realising that vamana being a Vishnu Avatar, he offered his head for Lord Vishnu to complete his third step and pace of land by placing his foot on it.
                    This way, Vamana avatar conquered bali and in appreciation made Bali king of the underworlds.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Parashurama Avatar</span>
                    <br \>
                    <br \>
                    The Sixth avatar of Maha vishnu was Parshurama Avatar where Parshu means an axe, so Parshurama literally means 'Rama with an Axe'.
                    This denotes further evolution of life form to complete human being.
                    <br \>
                    <br \>
                    In treta yuga, King Kartavirya Arjun lived with his family,he once visited Parshurama's father, Jamadagni in his Ashram.
                    The rishi was able to feed the king and his family with his divine Cow, Kamadhenu.
                    <br \>
                    <br \>
                    King Kartavurya demanded the Cow but jamadagni refused.So he took the cow by force and destroyed his Ashram.
                    Parashurama then killed king kartavirya in his palace and destroyed his entire army. King Kartavirya sons seeking revenge, killed Parashurama father, jamadagni.
                    <br \>
                    <br \>
                    Parashurama took a vow to kill every Kshatriya on earth 21 times over and with it he filled 5 lakes with blood.
                    Parashurama grandfather, Rishi Rucheeka interwined and asked him to stop. Parashurama played vital roles in Epic battles of Mahabharata and Ramayana
                    where he served as a teacher to Bhishma,karna and Drona. He is a chiranjeevi[Immortal] and still performs penance atop Mahendragiri Mountain.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Rama Avatar</span>
                    <br \>
                    The Seventh avatar of Maha vishnu was Rama Avatar.Rama was Prince of Ayodhya and son of King Dasrath. 
                    Rama life was filled with many hardships as he was exiled from the palace for 14 years upon a conspiracy.
                    <br \>
                    <br \>
                    Shree Rama life is a symbol of adherenc to sanatana dharma even after so many hardships and wrongdoings.
                    He is portrayed as the ideal man and perfect human being with being adorned by name Marayada Purushottam Rama [Purush meaning man and Uttam meaning Highest]. 
                    <br \>
                    <br \>
                    After spending 13 years in forest, rama's wife, maa sita was abducted by Demon King Ravana and the epic battle of Ramayana begins.
                    Shree rama met Hanuman and Sugriva on the search quest who served as there army commanders leading Vanara[monkey] army.
                    After months of searching, they meet Eagle Sampati who tells them that ravana lives in Lanka which is an island just south of india. 
                    <br \>
                    <br \>
                    A bridge was constructed to carry the mighty army known as Ram Setu[Setu literally means bridge] when stones with Ram written on it floated on water instead of sinking.
                    Battle was fought for 10 days with Shree Rama emerging victorious as he killed Ravan when he struck his navel with a mighty arrow.
                    After the battle, ravana's brother vibhishan who was on rama's side was made king and Maa sita was reunited with bhagwan ram.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Krishna Avatar</span>
                    <br \>
                    The Eigth avatar of Maha vishnu was Krishna Avatar.Shree krishna was king of Dwarka and son of Vasudeva. 
                    Shree Krishna's life was filled with many hardships from birth itself which teaches us that if gods face hardships in there life,
                    we humans have to face hardships in our lives as well.
                    <br \>
                    <br \>
                    In Dwaparyuga, earth was predominantally ruled by people of Rajasic Qualities. Rajas signifies Hunger for Power and Passion.
                    With this, earth was filled with adharma created by rajasic people and there was chaos and tyranny everywhere. People's lust for power was destroying earth,
                    so Bhoomidevi requested Vishnu for help and he incarnated as Krishna to kill adharmis and restore balance on earth.
                    <br \>
                    <br \>
                    Shree krishna was the primordial force behind the epic mahabharata where he fought from Pandava's side being a charioteer for King Arjuna. Pandavas wins over kauravas signified that Dharma always prevails over evil and malice.
                    His leadership qualities, war and startegy planning is extensively cataloughed in Shree BhagvadGita which is one of the most studied book on Sanatana Dharma.
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Buddha Avatar</span>
                    <br \>
                    Many poeple aren't enlightened about this fact but Ninth avatar of Maha vishnu was Buddha Avatar. Buddha was a symbol of sacrifice, hard unwavered penance and utter devotion to the path of liberation.
                    Buddha gave birth to Buddhism which is one of the most followed way of living on Earth. From buddhism, taoisma and confucianism were born which is followed in many asain countries.
                    <br \>
                    <br \>
                    Buddha was born as a prince and he gave up his kingdomship for the path of enlightenment. This instance was already prophesised by a Sage who said, 
                    The kingdom will be blessed with a great military general or yogi. 
                    <br \>
                    <br \>
                    Buddha's choice for the tough path of yoga teaches us the importance of Self-realization and the severe self-effort in the path of realizing oneself.
                    He was responsible for changing the philosophy of heaven and hell with the philosophy of liberation which is grossly followed, even today.
                    
                    <br \>
                    <br \>
                    <span style="font-weight:bold;">Kalki Avatar</span>
                    <br \>
                    The tenth avatar or last avatar of Maha Vishnu will be Kalki avatar. This avatar will take place at the end of Kali-Yuga when
                    adharma has significantly risen and balance needs to be restored for proprer functioning of Cosmic order.
                    <br \>
                    <br \>
                    The kalki avatar would come from the skies atop a white horse with long sword and bring peace by killing all evil and malice.
                    After this, the brahman will usher into a new Mahayuga and start fresh with Satya yuga.
                    <br \
                    <br \>
                    <br \>
                    This cycle is being followed from time immemorial and will be followed in the future as well because we as species never learn from our mistakes and need
                    divine intervention to realise the true path of yoga.
                    <br \>
            </div>
        </div> 
    </div>
</body>
{%endblock%}