{% extends '../base.html' %}

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head> {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/mahavishnu.jpg">
            </div>
            <div class="bloghashes">
                <span>#Lord Vishnu/[श्री विष्णु]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Lord Vishnu names to remember during troubles and different stages in one's life.</h3>
            </div>
            <div class="blogconthere">
                <span>
                    Lord Vishnu has 108 names as virtues which are chanted during Yagyas in order to honor of his leela[Divine Play], these names represent different roles he played in maintainng balance as being "The Operator" of all Universe.
                    These names hold siginificant meaning in itself and over one's consciousness. It is said to give strength,courage, fearlessness and other human virtues which can help us perform our karma comfortably.
                    <br \>
                    <br \>
                    Conscious chanting of these names in a set of multiple of 9 or 108 times during troubling times,different stages of life or meditations have many human psycological benefits.
                    Out of these 108 names, 16 names can be chanted or remebered during simple tasks or particular stages in one'e life.
                    <br \>
                    <br \>
                    Let's us understand and honor these names which can be our saviour one day. 
                    <br />
                    <br />
                    [1] Taking Medicines/औषधि लेते समय: Vishnu/ विष्णु.
                    <br />
                    <br />
                    [2] Having Lunch / भोजन के समय : Janaardhana/ जनार्दन.
                    <br />
                    <br />
                    [3] While Resting/ शयन करते समय : Padmanaabha/ पद्मनाभ : -
                    <br />
                    <br />
                    [4] Facing Trouble during Fire/ अग्नि के संकट के समय: Jalaashayi/जलाशयी ; -
                    <br />
                    <br />
                    [5] During War/ युद्ध के समय : Chakradhara/चक्रधर ;
                    <br />
                    <br />
                    [6] On a Journey/ यात्रा के समय : Trivikram/ त्रिविक्रम;
                    <br />
                    <br />
                    [7] On leaving one's human body/शरीर त्यागते समय: Narayan/ नारायण; -
                    <br />
                    <br />
                    [8] Being with your Wife/ पत्नी के साथ : Shridhar/श्रीधर ; -
                    <br />
                    <br />
                    [9] While having bad dreams during sleeep/ नींद में बुरे स्वप्न आते समय : Govinda/गोविंद;
                    <br />
                    <br />
                    [10] During unexpected trouble/ संकट के समय: Madhusudhan/मधुसूदन ; -
                    <br />
                    <br />
                    [11] Facing Trouble during forest explorations/ जंगल में संकट के समय : Nrisingha/नृसिंह;
                    <br />
                    <br />
                    [12] While getting married/ विवाह के समय : Prajapati/प्रजापति ;
                    <br />
                    <br />
                    [13] While going or During Kama/ गमन करते समय : Vaamana/वामन; -
                    <br />
                    <br />
                    [14] Facing Trouble while being in water/ जल में संकट के समय : Vaaraaha/ वाराह ; -
                    <br />
                    <br />
                    [15] Facing Trouble during mountain expeditions/ पहाड़ पर संकट के समय: Raghunandan/ रघुनंदन;
                    <br />
                    <br />
                    [16] Any other good work/अन्य सभी शेष कार्य करते समय : Madhava/माधव ॥
                    <br />
                    <br />
                    These names can be best chanted with the mantra ॐ [Name] नमः. 
                    For example, if you run into trouble while being in a jungle,you can chant ॐ नृसिंह नमः as many times as you can.

                
                </span>
            </div>
        </div>
    </div>
</body>
{%endblock%}