{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

{% comment %} <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>     
</head>                     {% endcomment %}
<link rel="stylesheet" href="/static/css/blogfull/allblogs.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/Blog/yogasutra.jpg">
            </div>
            <div class="bloghashes">
                <span>#Yogasutra/[योग् सूत्रः]</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Patanjali Yoga Sutra-Path between human and divine consciousness.</h3>
            </div>
            <div class="blogconthere">
                <p>Patanjali Yoga Sutras is one of the most beautiful out of many work by Sage Patanjali. Yoga Sutras are one of the most translated texts
                    in history of Sanatana Dharma apart from Shrimad Bhagvad Gita.It was translated in more than 40 languages.The texts contain almost 196 sutras or
                    aphorisms which details out everything about Yoga.
                    <br \>
                    <br \>
                   Sage Patanjali wrote this text around 500BC and compiled his learning and observations from yoga. Sutras in sanskrit means a thread, a thread
                   which holds the meaning of the discipline in study,together. The meaning can be different according to a yogi, but the crux or the thread which 
                   hold this meaning together remains undisturbed.
                    <br \>
                    <br \>
                   Sutras are small texts, around 10-20 devanagari letters each. But the meaning which the sutra represent is magnanimous.
                   Each sutra when broken down and understood can be stretched into multiple page depending on the understanding a yogi holds.
                    <br \>
                    <br \>
                   Let us understand the significance,meaning and symbolism behind patanjali Yoga Sutras.
                    <br \>
                    <br \>
                </p>
               
                </span>    
            </div>
        </div> 
    </div>
</body>
{%endblock%}