{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/auvid.css">
</head>
<body>
    <div class="chantmain">
        {% comment %} <div class="topbox"></div> {% endcomment %}
        <div class="blogscroll">
            <div class="Headtag" >
                <p>If you have any questions or need meaning of any sanskrit words, please post a question in Wall of Q & A and we will get back to you.</p>
            </div>
            <!-- <img src="/static/img/scrollfinal.png" id="scrollimg"> -->
            <div class="vedicvaani">
                <div class="suktimg cont">
                    <span style="font-weight:800;text-align:center;cursor: pointer;" onclick="location.href='suktam/';">Suktam / सुक्तम्</span>
                </div>
                <div class="links">
                    <a style= "color:Black;" href="/suktam/panch-bhuta-suktam/">Panch Bhuta Suktam/ पन्च भुता सुक्तम् </a>
                    <a style= "color:Black;" href="/suktam/sri-suktam/">Sri Suktam/ श्री सुक्तम् </a>
                    <a style= "color:Black;" href="/suktam/ksetrapati-suktam/">Ksetrapati Suktam/ क्षेत्रपति सुक्तम् </a>
                    <a style= "color:Black;" href="/suktam/durga-suktam/">Durga Suktam/दुर्गा सुक्तम् </a>
                </div>
            </div>    
            <div class="vedicvaani">
                <div class="cont strtimg">
                    <span style="font-weight:800;text-align:center;cursor: pointer;" onclick="location.href='strotam/';">Strotam / स्तोत्रम् </span>
                </div>
                <div class="links">
                    <a style= "color:Black;" href="/strotam/shiva-tandava/">Shiv Tandava Strotam/ शिव ताडव् स्तोत्रम् </a>
                    <a style= "color:Black;" href="/strotam/kanakadhara-strotam/">Kanakadhara Strotam/ कनकधारा स्तोत्रम् </a>
                    <a style= "color:Black;" href="/strotam/saraswati-strotam/">Saraswati Strotam/ सरस्वति स्तोत्रम् </a>
                    <a style= "color:Black;" href="/strotam/mahalakshmi-ashtakam/">Mahalakshmi Ashtakam/ महालक्ष्मी अष्टकम् </a>
                    <a style= "color:Black;" href="/strotam/lakshmi-suprabhatam/">Lakshmi Suprabhatam/ लक्ष्मी सुप्रभातम् </a>
                    <a style= "color:Black;" href="/strotam/guru-strotam/">Guru Strotam/ गुरु स्तोत्रम् </a>
                    <a style= "color:Black;" href="/strotam/ashtalakshmi-strotam/">Ashtalakshmi Strotam/ अष्टलक्ष्मी स्तोत्रम् </a>
                </div>
            </div>
            <div class="vedicvaani">
                <div class="shlkimg cont">
                    <span style="font-weight:800;text-align:center;cursor: pointer;" onclick="location.href='suktam/';">Shlokas & Aartis / श्लोक् एवम् आरती</span>
                </div>
                <div class="links">
                    <a style= "color:Black;" href="/shlokas/ganesh-shloka/">Shri Ganesh Shlokas / श्री गणेश् शलोक् </a>
                    <a style= "color:Black;" href="/shlokas/hanuman-chalisa/">Hanuman Chalisa/ हनुमान चालीसा</a>
                    <a style= "color:Black;" href="/shlokas/lakshmi-aarti/">Lakshmi Aarti/ लक्ष्मी आरती</a>
                    <a style= "color:Black;" href="/shlokas/morning-prayer/">Morning Prayer/ सुप्रभात हेतु प्रार्थना </a>
                    {% comment %} <a style= "color:Black;">Maharishi Bharadwaja Vimanika Shlokas</a>
                    <a style= "color:Black;">Sulbha Sutra Shlokas</a> {% endcomment %}
                </div>
            </div>    
            <div class="vedicvaani">
                <div class="mantimg cont">
                    <span style="font-weight:800;text-align:center;cursor: pointer;" onclick="location.href='mantra/';">Mantras / मत्रं </span>
                </div>
                <div class="links">
                    <a style= "color:Black;" href="/mantra/ganesh-atharva/">Ganesh Atharvashirsham / श्री गणेश् अथर्वशिर्षम्</a>
                    <a style= "color:Black;" href="/mantra/kshama-mantra/">KShama Mantra / क्षमा मंत्र</a>
                    <a style= "color:Black;" href="/mantra/lakshmi-mantra/">Lakshmi Mantra / लक्ष्मी मंत्र</a>
                    <a style= "color:Black;" href="/mantra/saraswati-mantra/">Saraswati Mantra / सरस्वति मंत्र</a>
                    <a style= "color:Black;" href="/mantra/gayatri-mantra/">Gayatri Mantra / गयत्री मंत्र </a>
                </div>
            </div>        

            <br \>
        </div>
    </div>
</body>

</html>
{%endblock%}