{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Articles {%endblock%}

{%block content%}

<link rel="stylesheet" href="/static/css/showblog.css">

<body>
    <div class="blogfull">
        <div class="pnlleft">
        </div>
        <div class="contentfull">
            <div class="blogimghere">
                <img src="/static/img/mala_1.jpg">
            </div>
            <div class="bloghashes">
                <span>#dhyana #japamala</span>
            </div>
            <div class="blogtitle">
                <h3 style="font-weight:bold;">Breaking down the significance of Japamala.</h3>
            </div>
            <div class="blogconthere">
                <span>108 is one of the holiest and most sacred number in Sanatana Dharma. Many principles[Siddhanta] and architectural design methods use 108 in their calculations.
                    1-0-8 has 3 attributes, 1=Supreme Truth, 0= Void, 8= Infinity.
                    <br \>
                    <br \>
                    
                    We have 108 beads in total with Shiva tattva being 54 beads and Shakti tattva being 54 beads.
                    The yellow bead is bigger known as Meru bead which is also the 109th bead. It is not part of the 108 beads. 
                    <br \>

                    Conscious and focus chanting of mantra 
                    [ॐ नमः शिवाय ] or any mantra is said to have raised one level of understanding of the mantra.

                    <br \>
                    <br \>
                    <br \>
                    Chanting has been an integral part of the Hindu culture for worship and spiritual upliftment. For chanting, a Mala is needed, which can be made
                    of Rudraksha, Vaijayanti, beads or stones. Among these, rudraksha is most preffered due to it's magnetic and electrical properties.
                    <br \>
                    Rudraksha Mala is made up of two words "Rudra" + "Aksha" where Rudra means Lord Shiva and Aksha means Teardrops. So rudraksha literally means Tears of Lord Shiva. It is 
                    said tears rolled down lord shiva face onto the earth and formed a Rudraksha Tree. The fruits of these tree is a rudraksha bead.
                    The Rudraksha tree is found in the Himalayan region, nepal, Sumatra and Java islands which lights the widespread influence of Sanatana Dharma in Asia. 
                    <br \>
                    <br \>

                    There are many types of Rudraksha bead which differs in the number when vertical lines running from head to toe is different and is known as "Mukhi". Mukhi can range from 1-21 but 1-14 are commonly found
                    and used for chanting. Chemical composition of Rudraksha beads is 50% carbon, 1% Nitrogen, 18 % Hydrogen and 31% Oxygen. One Cycle of Japa means
                    you have chanted the Mantra 108 times if it's a 108 beads Rudraksha mala.
                    <br \>
                    <br \>
                    The way to identify Mukhi is quite simple, that is 'You count the number of lines on the beads', if the number of lines is 3, then it is 3 Mukhi, if 5 then 5[Pacha]Mukhi and so on.Each bead takes 
                    around 15 year to mature.The Japa Mala gains in power with continued daily Japa on it. A minimum of 40 days continuous Japa on a Mala energises it with the power of the
                    mantra and thereafter when it is worn or placed on a person, has its healing effect on mind, body and soul.


                    There are three main types of Mantras,Bija (seed) Mantra, Saguna (with form) Mantra,Nirguna (without form) Mantra.The Bija mantras are usually one
                    syllable like Om and Ram. These can be used individually, but are most often incorporated into Saguna Mantras to empowver them with their special bija
                    energy.
                    <br \>

                    The Saguna mantras invoke the forms of the individual deitles like "Om Namah Shivaya*. The Nirguna mantras originate from the Vedic texts and are thus
                    the oldest type of mantras, like, 
                    <br \>
                    <br \>
                    <center>
                        "Aham Brahma-Asmi [अहं ब्रह्मास्मि]"", 
                        <br \>
                        "Sat-Chit-Ananda [सत् चित् आनन्द्]" ,
                        <br \>
                        "Tat-Tvam-Asi [तत् तव्म असि]"etc.
                    </center>
                    <br \>
                    <br \>
                    These Mantras can be chanted 108 times.
                    <br \>
                    <br \>
                    But why 108? what is the mathematical significance of 108 and why Sanatana Dharma has special rules built around 108?
                    <br \>
                    <br \>
                    108 is a symbol of cosmic creation. Nature and Human being knowingly or unknowingly follow cycles of 108.
                    Firstly,let's consider something human. We breathe 21,600 times in 24 hours. So 12 hours can be said to be spent in the daily routine, the remaining 12 hours are left for worshiping God.
                    That is, 10,800 breaths should be used[Ideally] to remember our presiding deity.As in today's world, sparing 12 hours is not possible for everyone,
                    We remove the last two zeros from this number and we get 108 which should be atleast spent in paying obeciances to our Ishtadevas.

                    <br \>
                    <br \>
                    Raising our understanding higher, let's consider something cosmic. 
                    The Sun changes 216000 [two lakh sixteen thousand phases in a year or 365 days]. Since the Sun remains in Uttarayan[North ascension] and Dakshinayana[South descension] in
                    every 6 months,the total phases of the Sun in 6 months is 108000.Following the same principle, we remove the last three zeros, which gives the number 108.  
                    <br \>
                    <br \>
                    Raising our understanding even higher, we look at the stars for answers. 
                    We divide the entire universe into 12 parts called rashis[Zodiac] according to astrology. These 12 parts are 12 segment of 360 sphere we called Brahman.
                    <br \>
                    Considering the 9 planets according to Dharma, we have 5 Planets[Mercury,Venus,Mars,Jupiter,Saturn] plus [Rahu and Ketu are north and south node of moon] plus Sun and moon. 
                    As these 9 planets revolve around Brahman, we get 9*12=108 as each planets would have different influence in a rashi.
                    <br \>
                    So we chant 108 times to honor and ask for blessing from these divine planets.
                    <br \>
                    <br \>
                    Let's consider the best way to practice Meditation with a Japmala,
                    <br \>
                    <br \>

                    1.  It is ideal to sit on the ground or floor with your legs crossed in a Padmasana, on a small rug or cushion. Japa Mala practice can
                    also be done standing or sitting on a chair. If sitting on a chair, ensure that both feet are placed flat on the floor ground. This way, the flow of energy 
                    is symmetrical across the human body.
                     <br \>

                    2.It is best to allocate a particular time of the day and a particular place to practice Japa.Facing the East or the North direction is best practice while chanting.
                    <br \>

                    3.It is best to practice Japa in a serene atmosphere where a small lamp[Diya] is lit without distractions. Switch off your phones, wifi and computers. 
                    <br \>

                    4. It is advised to keep your eyes closed or half closed while doing the Japa Mala chanting.
                     Brining your focus to the middle of the eyebrow is the best practice .You can choose to keep the idol or picture of a God or Goddess in front of you.'
                     
                     <br \>
                    5.If your mind goes for a stroll, bring it back to focus on the Japa. Silence your mind.
                    Think of the meaning of the Mantra while repeating it.
                    <br \>
                    <br \>
                    When you finish your meditation with Japa Mala chanting,you should bow down to the Divine, pay your obeciances, ask for forgiveness and continue with your day.

                    <br \>
                    <br \>
                    <br \>
                    <br \>
            </div>
        </div> 
    </div>
</body>
{%endblock%}