body {
    background-color: #F8ECD4;

}

.h1 {
    color: darkred;
}

.h2 {
    color: greenyellow;
}

.main {
    display: flex;
    width: 100%;
    margin-top: 3rem;
}

.not-visible{
    display:none;
}

.panel {
    width: 5%;
    background-color: #f8ecc2;
    /* border-color: black; */
    margin-left: 2px;
    border-radius: 1rem;
    background-color: rgba(238, 238, 237, 0.688);
}

.content {
    display: flex;
    width: 95%;
    margin-inline: 2%;
    flex-direction: column;
}

.howto{
    padding-inline:1%;
    font-family:'Segoe UI', Tahoma, Verdana
}

.howto h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text]{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 8px;
  }

  .koshsearch .searchbtn{
    padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.searchbtn:focus{
    background-color: lightgray;
}


.searchbtn:focus ~ .words{
    display: none;
    }

.koshsearch {
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 1rem;
    background-color: rgba(238, 238, 237, 0.686);
}

.displaysearch{
    background-color: aliceblue;
    padding:2%;
}

.wordunit{
    display:inline-block;
    width: 200px;
    border: 1px black solid;
    padding: 1%;
    color:#000000;
    border-radius:25px;
    margin:0.5em;
    text-align: center;
}

.words{
    padding:1%;
}

/* .wordunit span{
    line;
} */

/* .wordunit{
    display:inline-flex;
    flex-direction: row;
    padding: 1%;
    margin:1%;
    background-color: blanchedalmond;
    color:#000000;
    font-size: 15px;
} */

.varn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 1px solid black; */
    border-radius: 1rem;
    background-color: rgba(238, 238, 237, 0.677);
    padding: 1%;
}

.varnid {
    padding: 1rem;
    font-weight: bold;
    /* border: 1px solid; */
}

#koshvarnid {
    font-weight: bold;
}

.howto {
    /* border: 1px solid black; */
    margin-bottom: 5px;
    border-radius: 10px;
    border-radius: 2rem;
    background-color: rgba(238, 238, 237, 0.688);
}

.btn {
    border: 1px solid black;
    margin-bottom: 4px;
    margin-top: 4px;
}

.row {
    margin-inline-start: 5px;
    margin-bottom:20px;
}

/* Tool tip data */

div.tooltip {
    /* flex-basis: auto;
    width:100px; */
    display:inline-flex;
    position: relative;
    opacity:1;
    border-bottom: none;
    /*  DO NOT include below two lines, as they were added so that the text that
          is hovered over is offset from top of page*/
    /*top: 10em;
    left: 10em;
     if want hover over icon instead of text based, uncomment below */
    /*    background-image: url("../images/info_tooltip.svg");
              /!* width and height of svg *!/
              width: 16px;
              height: 16px;*/
    
}


div.tooltip span {
    display: none;
}


/* show and style tooltip */

div.tooltip:hover span {
    /* show tooltip */
    display: block;
    /* position relative to container div.tooltip */
    position: absolute;
    bottom: 4em;
    /* prettify */
    padding: 0.75em;
    color: #000000;
    background: #ebf4fb;
    border: 0.1em solid #b7ddf2;
    /* round the corners */
    border-radius: 0.5em;
    /* prevent too wide tooltip */
    max-width: fit-content ;
    white-space: nowrap;
    font-size:14px;
}

@media(max-width: 768px){

    div.tooltip:hover span {
        word-wrap:wrap;
    }

    .panel {
        display:none;
    }

    .wordunit{
        display:inline-block;
        width: 160px;
        border: 1px black solid;
        padding: 1%;
        color:#000000;
        border-radius:25px;
        margin:0.5em;
        text-align: center;
    }

    .wordunit{
        margin-left:15px;
    }

    .gram{
        overflow-wrap: break-word;
    }
}