body{
    border-color: 2px solid black;
    background-color: #ffffff;
}

.suktfull{
    display: flex;
    width: 100%;
    border: 3px solid black; 

}

.suktpnlleft{
    display: flex;
    width:10%;
}

.suktamfull{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    border-radius: 25px;
    background-color: aliceblue;
    margin:2%;
    padding-inline: 30px;
    /* border: 2px solid green; */
}

.suktcont{
    background: url("/static/img/snsktbkg.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width:29%;
    height: 150px;
    padding: 3%;
    margin: 2%;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    border-radius: 25px; 
}