{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Gayatri Mantra</h2>
    <div class="contentfull">
        <div class="subcontent">  
                <br \>
                <div class="contsanskrit">
                    <span style="font-weight:900;">
                        <center>ॐ भूर्भुवः स्वः
                            तत्सवितुर्वरेण्यं
                            भर्गो देवस्य धीमहि
                            धियो यो नः प्रचोदयात् ॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Bhuur-Bhuvah Svah
                        Tat-Savitur-Varennyam
                        Bhargo Devasya Dhiimahi
                        Dhiyo Yo Nah Pracodayaat ||</span>
                </div>
                <br \>
                <div class="contengmean">
                    <span> Om, Pervading the Bhu Loka , Bhuvar Loka and Swar Loka,
                        2: That Savitur [Divine Essence of the Sun] which is the most Adorable,
                        3: I Meditate on that Divine Effulgence,
                        4: May that Awaken our Intelligence.</span>
                </div>
            <br \>
        </div>
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}