{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Hanuman Chalisa</h2>
    <div class="contentfull">
        {% for hanu in hanuchalisa %}
        <div class="subcontent">  
                <br \>
                {% comment %} <div class="ganashlkhead">
                    <span style="font-weight:900;">
                        <center>{{hanu.shloka}}</center>
                    </span>
                </div> {% endcomment %}
                <div class="contsanskrit">
                    <span style="font-weight:900;">
                        <center>{{hanu.shlksnskt}}</center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>{{hanu.shlkengconv}}</span>
                </div>
                <br \>
                <div class="contengmean">
                    <span>{{hanu.shlkengmean}}</span>
                </div>
            <br \>
        </div>
        {% endfor %}
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}