{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Kshama Mantra</h2>
    <div class="contentfull">
        <div class="subcontent">  
                <br \>
                <div class="contsanskrit">
                    <span style="font-weight:900;">
                        <center>करचरण कृतं वाक्कायजं कर्मजं वा ।
                            श्रवणनयनजं वा मानसं वापराधं ।
                            विहितमविहितं वा सर्वमेतत्क्षमस्व ।
                            जय जय करुणाब्धे श्रीमहादेव शम्भो ॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>karacarana krtam vakkayajam karmajam va.
                        sravananayanajam va manasam vaparadham.
                        vihitamavihitam va sarvametatksamasva.
                        jaya jaya karunabdhe srimahadeva sambho </span>
                </div>
                <br \>
                <div class="contengmean">
                    <span> O Compassionate Mahadeva! O Sambho! Victory to You! Please do forgive all the errors[अपराधम्] committed by me with the hands or legs[करचरण कृतं ], 
                        speech and body [वाक कायजम्], through actions[कर्म], through the ears[श्रवण], eyes[नयन], mind[मानस] or by not doing ordained[विहितम्] actions or by doing prohibited actions.</span>
                </div>
            <br \>
        </div>
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}