{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Lakshmi Mantras </h2>
    <div class="contentfull">
        <div class="subcontent">  
                <br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">Lakshmi Mantra</h1>
                    <span style="font-weight:900;">
                        <center>ॐ ह्रीं श्रीं लक्ष्मीभयो नमः॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Hreem Shreem Lakshmibhayo Namah॥</span>
                </div>
                <br \>
                <br \>
                <br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">MahaLakshmi Mantra</h1>
                    <span style="font-weight:900;">
                        <center>ॐ श्रीं ह्रीं श्रीं कमले कमलालये प्रसीद प्रसीद
                            ॐ श्रीं ह्रीं श्रीं महालक्ष्मयै नम:॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Shreem Hreem Shreem Kamale Kamalalaye Praseed Praseed
                        Om Shreem Hreem Shreem Mahalakshmaye Namah॥</span>
                </div>
                <br \>
                <br \>
                <br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">Lakshmi Gayatri Mantra</h1>
                    <span style="font-weight:900;">
                        <center>ॐ श्री महालक्ष्म्यै च विद्महे विष्णु पत्न्यै च धीमहि,
                                तन्नो लक्ष्मी प्रचोदयात् ॐ॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Shree Mahalakshmyai Cha Vidmahe Vishnu Patnyai Cha Dheemahi,
                        Tanno Lakshmi Prachodayat Om॥</span>
                </div>
                <br \>
            <br \>
        </div>
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}