{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Beautiful Prayer for Morning/ [Prithvi Sagandha Sarasa]</h2>
    <div class="contentfull">
        <div class="subcontent">  
                <br \>
                <div class="contsanskrit">
                    <span style="font-weight:900;">
                        <center>पृथ्वी सगंधा सरसाः तथाऽपः स्पर्शी च वायु ज्वलितं च तेजः।
                            नभः सशब्दं महता सहैव कुर्वतु सर्वे मम सुप्रभातम् ॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>prithvi sagamdhaa sarasah tatha-paha sparsi ca vaayu jvalitam ca tejaha.
                        nabhaha sashabdam mahataa sahaiva kurvatu sarve mama suprabhaatam </span>
                </div>
                <br \>
                <div class="contengmean">
                    <span> The fragrant earth, the waters of reservoirs, the touch of the wind, the brilliance of the fire and the great voice of the akasa, may all of them make mine a good morning.</span>
                </div>
            <br \>
        </div>
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}