{% extends '../base.html' %} 

{% block title%} Gyaandweep | Chants {%endblock%}

{%block content%}

<html>
<head>
<link rel="stylesheet" href="/static/css/chantfull/allchants.css"> 
</head>
<body>
    <h2 style="margin-left:30px;">Saraswati Mantras </h2>
    <div class="contentfull">
        <div class="subcontent">  
                <br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">Saraswati Mantra</h1>
                    <span style="font-weight:900;">
                        <center>ॐ ऐं क्लीं सौः॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Aim Kleem Sauh॥</span>
                </div>
                <br \><br \><br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">Saraswati Mantra from Rig Veda, Mandala 1 ,Sukta 3, Mantra 10.</h1>
                    <span style="font-weight:900;">
                        <center>पावका नः सरस्वती वाजेभिर्वाजिनीवती ।
                            यज्ञं वष्टु धियावसुः ॥१.३.१०॥
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Paavakaa Nah Sarasvatii Vaajebhir-Vaajiniivatii |
                        Yajnyam Vassttu Dhiyaavasuh ||Rig Veda 1.3.10||</span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>O Saraswati, You are the purifier of our Intellect, and Your Strength [of Wisdom] grows within us with Sacrificial Offerings,
                        2: May my offering in Yagnya strengthen Your Wisdom within me. /<span>
                </div>
                <br \><br \><br \>
                <div class="contsanskrit">
                    <h1 style="font-size:25px">Saraswati Gayatri Mantra</h1>
                    <span style="font-weight:900;">
                        <center>ॐ ऐं वाग्देव्यै विद्महे कामराजाय धीमहि।
                            तन्नो देवी प्रचोदयात्॥ 
                        </center>
                    </span>
                </div>
                <br \>
                <div class="contengconv">
                    <span>Om Aim Vagdevyai Vidmahe Kamarajaya Dhimahi।
                        Tanno Devi Prachodayat॥</span>
                </div>
                <br \>
                <div class="contengconv">
                    <span></span>
                </div>
                <br \><br \><br \>
            <br \>
        </div>
    </div>
    <div class="rghtpnl">
    </div>
</body>

</html>
{%endblock%}