{% extends '../base.html' %} 

#https://getbootstrap.com/docs/5.2/components/card/
#The following card feature will be used to write blogs.
{% block title%} Gyaandweep | Community {%endblock%}

{%block content%}
<style>
    .comm{
        text-align:center;
        height:250px;
        margin-top:100px;
        margin-bottom:200px;
    }

    .comm i{
        font-size:40px;
    }
</style>
<body>
    <div class="comm">
        <h3>This feature is currently under construction.</h3><br \>
        <img src="/static/img/comm.jpg">
    </div>
</body>
{%endblock%}